[2017-02-08 18:06] stevesloka opened #4 "Add full support for GKE"
Currently backs up to S3, see if there's a way to accomplish the same.

[2017-02-08 18:07] stevesloka opened #5 "Allow non-tls clusters"
If someone did not want to use tls with the upmc custom image, allow them to use non tls like: https://github.com/pires/kubernetes-elasticsearch-cluster

[2017-02-09 03:31] stevesloka opened #6 "Support 1.4.X Cluster"
Currently the operator uses Statefulsets and won't work on a 1.4.X cluster. Goal is to backport to enable PetSets and the older release.

[2017-02-09 12:47] secat opened #7 "Running the elasticsearch-operator on minikube"
Is it possible to use the `elasticsearch-operator` on `minikube`?

I used the [example/controller.yaml](https://github.com/upmc-enterprises/elasticsearch-operator/blob/master/example/controller.yaml) manifests with the following one:
[code]

Here is the error I have on the `es-client` pod (same with the `es-master` pod):
[code]

Here are the operator logs:
[code]

Here is the `PersistentVolumeClai

[2017-02-10 13:18] stevesloka opened #8 "Scheduler only works if cluster is already defined"
If controller is running, then cluster deployed, the scheduler isn't properly initialized.

[2017-02-10 17:34] #8 closed

[2017-02-11 01:46] stevesloka commented on #7
Hey @secat, I think I just about have this working. I've got to test it out a bit more, but should have this soon. Thanks!

[2017-02-11 03:40] stevesloka opened #11 "Allow Java memory options to be customizable from TPR"
Currently those memory options are static, makes it hard to deploy to smaller memory hosts (i.e. Minikube).

[2017-02-14 16:07] pires opened #12 "Use Kubernetes CronJobs instead of cron tasks inside pod containers."
This is becoming beta in 1.6 so perhaps it's a good time to adopt it.

An example can be found at https://github.com/pires/kubernetes-elasticsearch-cluster/blob/master/es-curator.yaml.

[2017-02-17 00:02] Ropes commented on #4
Thanks for building and publishing this project! I'm working on a full GCP/GKE based stack.

If I have time, I'll try to get it running on GKE and attempt to get any necessary fixes into PRs if you'd like. Or do you have a roadmap for GKE already set?

[2017-02-17 09:56] krallistic opened #13 "Use AntiAffinity for StatefulSet"
For spreading pods onto different nodes inter pod anti affinity is required. (The sheduler does some selector-spreading automaticly but the correct way would be to explicit tell it.)

I would add an optional field "antiAffinity" in the ClusterSpec which can be either set:
- "hard"
- "soft"
- empty/left out, would result in the same mode as now.

The feature is in Alpha since 1.4 and proably will m

[2017-02-17 14:59] stevesloka commented on #13
I think I have the zone affinity working now (even if it's hacky by having multiple statefulsets). I think for Elastic to understand the zones we need to setup this: https://www.elastic.co/guide/en/elasticsearch/reference/current/allocation-awareness.html

The other issue I ran into was when using Statefulsets, it would create PV's in zones that my cluster didn't have machines, so the pod would fo

[2017-02-17 15:15] stevesloka commented on #12
Oh that's very cool, I didn't know about Curator. I'll look to get this integrated!

[2017-02-17 15:17] krallistic commented on #13
The Zones and AntiAffinty are slightly different things, it would ensure that inside a SS every pod get sheduled onto a different Node inside that Zone.

[2017-02-17 15:19] stevesloka commented on #13
Ahh ok I see, that would make sense as an option someone could set. Happy to take PR if you want to work through this, otherwise I can take a look at getting it integrated.

[2017-02-17 16:01] pires commented on #12
Curator is one thing, using CronJobs is another ;)

[2017-02-19 12:09] erez-rabih opened #14 "Getting an error on cluster initialization"
Hi,

I just followed the tutorial and I'm getting an error on each of the ES nodes:
[code]

Using K8s 1.5.2 on AWS.

[2017-02-20 10:00] pst opened #15 "Operate clusters in any namespace"
Currently it seems, the operator is only searching and listing for clusters that are in the same namespace as the operator.

https://github.com/upmc-enterprises/elasticsearch-operator/blob/master/util/k8sutil/k8sutil.go#L56

What I'm currently doing is deploying all my operators into one namespace but allow the managed clusters to be deployed to any namespace. I believe this is beneficial, because

[2017-02-20 18:46] stevesloka commented on #14
There was another issue which ran into the problem, I'll have to update the base deployment or add a flag to do so. See: https://github.com/pires/docker-elasticsearch-kubernetes/issues/5#issuecomment-202655590

[2017-02-20 18:51] stevesloka commented on #15
Yeah right now it uses the namespace the operator is deployed to  (https://github.com/upmc-enterprises/elasticsearch-operator/blob/master/util/k8sutil/k8sutil.go#L53) as the same place where the cluster will be sent. It also only allows for 1 ES cluster per k8s cluster as well.

I'd get this on a list to make better. Thanks!

[2017-02-20 19:14] stevesloka commented on #14
To get this working quickly, try setting an ENV variable `${NETWORK_HOST}` which will let you override that piece easily now.

[2017-02-22 02:41] stevesloka commented on #4
Hey @Ropes, sorry for not getting back sooner, happy to take PR's. Maybe just open up issues for the pieces you are going to work on so it's clear and let me know if you have any questions. I do some some refactoring work in progress, but we'll work that out when the time comes.

[2017-03-04 03:56] stevesloka commented on #14
hey @erez-rabih just wanted to check in and see if that worked for you?

[2017-03-05 06:42] erez-rabih commented on #14
I ended up switching to https://github.com/pires/kubernetes-elasticsearch-cluster since the image is his and he had a workaround documented.

[2017-03-07 03:15] stevesloka commented on #14
Ok sounds good, thanks!

[2017-03-07 03:15] #14 closed

[2017-03-15 18:34] stevesloka commented on #7
Resolved in #16

[2017-03-15 18:34] #7 closed

[2017-03-23 21:04] krallistic commented on #13
Sorry i was a bit busy, since 1.6 is almost out and the api changes then. I will add it after the transition is done (probably a while after kubecon).

[2017-03-30 13:52] ejsmith opened #17 "How to upgrade Elasticsearch to a new version?"
I was wondering how you would go about upgrading to a newer version of elasticsearch using  this operator.

[2017-03-30 13:59] stevesloka commented on #17
Hey @ejsmith upgrading in place is something that would need implemented. You can specify the docker image in the TPR, so there you could change the version, but that won't roll over to the other components.

Today (being not implemented yet) you could update the deployments and the statefulset, which would get you to the new version.

[2017-04-02 01:58] fabito commented on #4
Hi @stevesloka ,

Ideally , on GKE, snapshots should go to Google Cloud Storage.
Similarly to S3, there is an Elasticsearch plugin called [`repository-gcs`](https://www.elastic.co/guide/en/elasticsearch/plugins/current/repository-gcs.html).

The request payload to **create the snapshot repository** is very similar too. A different `type` and an additional setting `service_account` is needed. See e

[2017-04-02 04:11] fabito commented on #5
Hi @stevesloka ,

You mean we should conditionally create the `es-certs` volumes and the respective volume mounts, correct ?
Is it correct to assume that in a non-tls scenario, we do not  need the `search-guard` plugin ?
Do you have anything in mind ?

Maybe a new section in the cluster spec ?

[code]

[2017-04-05 02:40] stevesloka commented on #5
The idea is possibly someone may not want to deal with all the certs, and just leave it open as it is by default. So we wouldn't require those volume mounts and the controller would not require them when it creates the cluster.

Yes we also would not need the search-guard plugin, could just use the base image from Paulo Pires.

[2017-04-05 02:41] stevesloka commented on #13
Hey no worries! Thanks for keeping up with this, now that 1.6 is out, I'm excited to play around with this in the scheduler.

[2017-04-13 10:18] dananglin opened #19 "Data containers use default base image when choosing custom image."
Hi @stevesloka,

When deploying the cluster using a custom docker image the data containers use the default image (upmcenterprises/docker-elasticsearch-kubernetes:5.1.1) instead. The master and client containers use the custom image as expected.

**How to reproduce:**

1. Deploy the operator to Kubernetes as shown in your tutorial.
2. Deploy the following manifest to Kubernetes (uses quay.io/pires

[2017-04-13 12:45] #19 closed

[2017-04-19 16:01] stevesloka commented on #11
Resolved by #16

[2017-04-19 16:01] #11 closed

[2017-04-20 17:13] mcandre opened #21 "Remove .DS_Store"
A `.DS_Store` file made its way into `certs/`. Should remove this file, and update your local, per-user gitignore to exclude any further junk files.

[2017-04-25 13:21] stevesloka commented on #21
Thanks for the heads up on this!

[2017-04-25 13:21] #21 closed

[2017-04-25 13:50] clockworksoul opened #23 "Stack trace on startup: No up-and-running site-local (private) addresses found"
Hi,

I'm trying to deploy on a version 1.5.1 cluster, and I'm getting the following stacks from the clients and masters:

[code]

This seems to be a not-uncommon exception seen when running ELS in K8S, but the fix isn't clear in the context of the operator.

[2017-04-26 18:35] jroberts235 commented on #17
I changed the base image in main.go and am trying to bake a container with ES 5.3.1 and am getting errors around peer discovery.  Looking at your Dockerfile for ES, I see that you're not installing the any discovery plugins, but I can't find where your providing any other mechanism in the code.  Could you shed a little light on how this operator handles peer discovery?

[2017-04-26 18:54] stevesloka commented on #17
You should be able to pass args to the container to override the default image: `baseImage`

The base images are build off of the work @pires has done. You can find that repo here: https://github.com/pires/docker-elasticsearch-kubernetes

My customization only adds the TLS encryption plugin to enable secure communication. I need to get upgraded to the latest and I haven't tried that. Let me see wh

[2017-04-26 18:58] pires commented on #17
Discovery no longer relies on plug-in(s) but rather DNS, for quite some time. I have released the container image for 5.3.1 very recently and haven't had the time to try it out properly. Feel free to open an issue in the repo @stevesloka pointed out above.

[2017-04-26 18:59] pires commented on #23
https://github.com/pires/kubernetes-elasticsearch-cluster#troubleshooting
https://github.com/pires/docker-elasticsearch#environment-variables

[2017-04-26 18:59] jroberts235 commented on #17
Well, I think I've resolved my issue.  I was using his elasticsearch.yml with your controller so I it was looking for the fabric8 plugin.  I'll continue to test and report.

[2017-04-26 19:00] pires commented on #17
@jroberts235 where exactly is _my_ `elasticsearch.yaml` is looking for the fabric8 plug-in?

[2017-04-26 19:01] stevesloka commented on #23
Ahh thanks @pires, was literally just copying in those links. =)

[2017-04-26 19:07] jroberts235 commented on #17
sorry, my mistake.  It wasn't your config, but the config I had was using the fabric8 plugin

[2017-05-01 02:04] stevesloka opened #24 "Set resource constraints on pods"
Currently, java options are set, but is not scheduler aware.

[2017-05-02 12:41] gianrubio commented on #13
I liked the solution proposed from coreos on [etcd-operator](https://github.com/coreos/etcd-operator/search?utf8=✓&q=affinity&type=).

For the users It's just a boolean flag, however this avoid a pod to launch in the same node as other pod already exist.

[2017-05-02 23:21] dmitriyr333 opened #25 "Invalid URL port"
I'm running on the master branch and getting below error.

[code]

URL is not delimited by a slash in this line:
https://github.com/upmc-enterprises/elasticsearch-operator/blob/master/pkg/snapshot/scheduler.go#L41

Am I missing something?

running k8s version 1.5.6

[2017-05-04 20:39] stevesloka commented on #25
No, I think you're correct! Not sure how it worked before for me, but I've got it fixed in #26.

[2017-05-04 20:39] #25 closed

[2017-05-05 14:14] stevesloka opened #28 "Delete ES cluster, cron still runs"
After a cluster is deleted (deleting the TPR), the cron will still run.

[2017-05-09 16:56] #24 closed

[2017-05-10 20:12] stevesloka opened #32 "Allow client svc nodeport to be specified"
For access via bastion, allow service nodeport to be defined in TPR.

[2017-05-12 15:25] vainikkaj commented on #7
Hi @stevesloka, I gave this a spin in minikube but ended with same error message (`secrets "es-certs" not found`)

[2017-05-12 16:41] snsumner opened #34 "Problems with Elasticsearch statd-plugin during startup of controller.yaml"
I successfully had your elasticsearch-operator working with Tectonic 1.6.2 release candidate.  I rebuilt my cluster to Tectonic 1.6.2.tectonic.1 (GA) and now when I tried to deploy controller.yaml both the es-master and es-client pods are failing with the following error

[code]
I've tried 0.0.2 and 0.0.3-beta and get the same results.  Any suggestion on what could be causing this error?

[2017-05-12 17:36] stevesloka commented on #34
Hey @snsumner, sorry for the trouble. The problem is I added a statsd plugin to the base elasticsearch image so you can push metrics to statsd.

The problem is if you don't have a statsd endpoint listening, it blows up.

You can change the base image the cluster will use by adding it to the TPR before you create the cluster. Add a field named: `elastic-search-image` and override the base elastic i

[2017-05-17 12:36] ethanwinograd opened #36 "changing cron settings"
If I reset the cron settings in my cluster json settings, do I need to redploy the operator for those to take effect?  Is it ok to do Kubectl stop on the operator pod and get a new one that way?  not sure what ripple effects that might have..

[2017-05-17 12:44] stevesloka commented on #36
Looks like an update to the cluster should trigger the cron to be reset. Can you check the logs of the operator after changing? The cron settings are logged to STDOUT.

[2017-05-17 12:50] ethanwinograd opened #37 "restarted master nodes dont sync all data nodes"
running a cluster with 2 masters and 5 data nodes, when I did a manual stop on each master, they recovered to only find 3 data nodes, not the 5 which had been associated previously.  cluster health shows as green, but data is missing.

[2017-05-17 16:35] snsumner commented on #34
Hey @stevesloka thanks for the workaround it did solve my problem.  I'm successfully running your Elasticsearch operator + Kibana 5.3.2 on Tectonic 1.6.2.tectonic.1 and have configured aggregation of tectonic logs to elasticsearch using Chance's logging [instructions](https://github.com/coreos/tectonic-installer/blob/master/Documentation/admin/logging.md).  I now plan to create a helm chart to dep

[2017-05-18 02:49] stevesloka commented on #34
Awesome glad to hear! Please let me know if you have any further issues or comments on how to make it better. Would appreciate the feedback!

[2017-05-18 02:49] #34 closed

[2017-05-18 02:51] stevesloka commented on #37
Looking at the logs from your pod, it seemed like the 2 data nodes weren't registering to the masters. After recreating your cluster it was resolved. Please re-open this if it happens again, we could look to put some node liveliness checks possibly to root out these bad pods.

[2017-05-18 02:51] #37 closed

[2017-05-18 13:55] stevesloka opened #38 "Enforce startup sequence"
Some users have seen issues where if the masters aren't initialized yet, and data nodes come up, they fail. The operator should handle this for the user and verify each component is healthy before starting the next.

This could be custom logic in the operator or readiness probes.

[2017-05-18 14:23] stevesloka opened #39 "Allow secret name to be customized"
Currently, the secret used for passing in certs to the image is hard-coded to be `es-certs`. Allow the user to define the secret name by cluster.

[2017-05-18 15:14] ethanwinograd opened #40 "scheduler settings dont correspond to cron activity"
after setting the snapshot time as follows:
[code]

The operator node appears to still run every 15 minutes.. this is from the pod log for the operator.

[code]

[2017-05-19 00:56] splisson-altair opened #41 "StatsD Exception at Launch"
I'm getting the following exception in the logs of es-client pod  when the cluster is launching:

[2017-05-19T00:40:52,024][WARN ][o.e.b.ElasticsearchUncaughtExceptionHandler] [3d88392d-7a72-4e10-b67f-ba060f43ca56] uncaught exception in thread [main]
org.elasticsearch.bootstrap.StartupException: org.elasticsearch.common.inject.ProvisionException: Guice provision errors:

1) Error injecting constru

[2017-05-19 00:59] splisson-altair commented on #41
duplicate

[2017-05-19 00:59] #41 closed

[2017-05-19 02:59] stevesloka commented on #41
Yeah sorry about that @splisson-altair, I'm working on a way to make this better. There's a way you can install plugins via ENV variable, but I don't like that for production use-cases. I'll update the default example at least to no use the statsd container.

[2017-05-19 14:51] splisson-altair commented on #34
@snsumner I'm also working on an helm chart. Are you combining operator installation and cluster deployment as they did for etcd-operator ? Also I'm not sure if the template in yaml is transformed to json by helm (elsaticsearch operator seems to take only json as input. I red yaml is a superset of json but when I tried yam I got some errors in the operator

[2017-05-19 14:57] splisson-altair commented on #34
@stevesloka @snsumner
Where did you add the elastic-search-image field in the TPR ?
I get a validation error when I try to save the change

[2017-05-19 15:19] ethanwinograd commented on #36
I had to recreate the cluster for those settings to take effect... we may want to combine this issue with the other one I put in:   https://github.com/upmc-enterprises/elasticsearch-operator/issues/40

[2017-05-19 17:30] splisson-altair commented on #41
no worry, I appreciate your work on this operator!

[2017-05-22 13:43] stevesloka opened #43 "Resize (grow) EBS volumes"
Since the introduction of EBS volume resizing, see if it's possible to resize volumes as disk space fills up.

[2017-05-23 01:24] snsumner commented on #34
@splisson-altair yes I'm trying to combine operator installation and cluster deployment.  I'm not familiar with how they did it for etcd-operator.   When I try to do a helm install I get the following error messages:

[code]
I converted all the json documents to yaml and it appears there is a problem.  I have not figured out a workaround yet.

[2017-05-23 15:51] splisson-altair opened #45 "Allow the Volume Reclaiming Policy to be set to Retained"
Currently the persistent volumes created by the operator have a Reclaiming Policy = Delete , that causes them to be deleted when the PersistenVolumeClaim is released

Suggestion: add a parameter to set the value of the Reclaiming Policy

[2017-05-23 15:58] stevesloka commented on #45
Awesome suggestion! This just came up here with my team, will get this added very soon.

[2017-05-24 01:39] dvdklnr opened #46 "Failing to start statsd"
[code]

<...>
[code]

[2017-05-24 01:49] dvdklnr commented on #46
cluster version detail:
[code]

[2017-05-24 15:39] snsumner commented on #34
I'm a recent hire at CoreOS on the solutions engineering team.  And one of my first tasks was creating a demo to show how to aggregated logs in Tectonic using Fluentd, store them in Elasticsearch, and access them from Kibana web UI.  I leveraged the work of Steve and others to create a cool demo which uses helm to deploy all three components within Kubernetes.  You can access my work here:

https:

[2017-05-25 14:14] splisson-altair opened #47 "es-data log4j2.properties java.nio.file.AccessDeniedException"
The cluster seemed to work fine but after a while, one of the es-data container fails to launch with the exception:
Exception in thread "main" org.elasticsearch.bootstrap.BootstrapException: java.nio.file.AccessDeniedException: /elasticsearch/config/repository-s3/log4j2.properties
Likely root cause: java.nio.file.AccessDeniedException: /elasticsearch/config/repository-s3/log4j2.properties
	at sun.

[2017-05-25 14:56] stevesloka commented on #47
Seems like the repository-s3 plugin is the culprit there. Are you doing snapshots to s3? I haven't run into this yet. What happens if you delete the pod and let it recreate?

[2017-05-25 14:58] stevesloka commented on #46
The latest version of the base image uses statsd to write metrics, if that's not there then ES breaks. The best bet is to swap out your base image referenced here: https://github.com/upmc-enterprises/elasticsearch-operator/issues/34#issuecomment-301139372

I'm working to make the docs better to explain this as well as make it fail less hard so the cluster can still function.

[2017-05-25 20:39] dvdklnr commented on #46
Thank you Steve

[2017-05-25 20:39] #46 closed

[2017-05-30 22:37] splisson-altair commented on #47
Hi I'm not doing snapshot. Cluster seems stable now.

[2017-06-07 21:29] djschny commented on #38
Correct, the desired startup sequence of a cluster would be as follows:

* Start master node(s) and wait until the Elasticsearch API says all expected master node(s) are in the cluster
* Start data nodes and wait for them to all join the cluster
* Start any client nodes (if there are any)

If the entire cluster is being shutdown, then the reverse is to be done. Client nodes, then data nodes, then

[2017-06-07 21:49] djschny opened #50 "rolling restart policy"
There are times when an entire rolling restart of the cluster would be done. These include scenarios such as:

* upgrading to a new version of ES
* restarting nodes to pickup node level configuration changes
* other maintenance activity

In these situations, a rolling restart of all nodes is needed. However just letting Kubernetes default [Replication Controller do its standard policy](https://kub

[2017-06-07 22:00] djschny commented on #5
I feel like there may be various different security related items being intertwined in this discussion. Security is done at three levels in Elasticsearch in general:

* Encryption
  * node-to-node - TLS of the transport protocol (port 9300) communication between nodes
  * API - Supporting SSL of the REST API
* Authentication/Authorization - adding username/password and roles to restrict access to

[2017-06-08 21:03] splisson-altair opened #51 "Support creation of multiple clusters"
Correct me if I'm wrong but currently the operator creates only one cluster with non-scoped names ie 'svc/elasticsearch'
When creating new elasticsearchcluster resources, the operator detects them but nothing happens

[2017-06-12 14:22] stevesloka commented on #51
Yeah this a problem currently which was referenced in #15. Originally I was using `kubectl proxy` from inside the pod to get access to the TPR api, but since have upgraded to use `client-go` and removed the proxy bit.

It's on my current list to deploy a single operator, and allow clusters to be gen'd in any namespace. Also, I want to add the ability to put prefixes on clusters, so you could run m

[2017-06-12 14:23] stevesloka commented on #47
Going to close this for now, please post back if it comes up again.

[2017-06-12 14:23] #47 closed

[2017-06-12 14:37] splisson-altair commented on #51
Ok, I ll use namespace for now. I also implemented a first version that uses the clusterName as prefix for the services names and component. I have not tested it yet. If it's decent I'll submit a pull request.

[2017-06-24 17:34] FaKod opened #55 "docker-elasticsearch-kubernetes:5.3.1_2"
Default Image does not work for me..

getting:

Error injecting constructor, com.timgroup.statsd.StatsDClientException: Failed to start StatsD client
  at com.automattic.elasticsearch.statsd.StatsdService.<init>(Unknown Source)
  while locating com.automattic.elasticsearch.statsd.StatsdService

[2017-06-27 14:56] stevesloka commented on #55
You need a statsd cluster running to use this image when it's not there it breaks. I just updated the default image to not use this tag since people keep hitting this and its hard to get started since you wouldn't know of these deps. Alternatively, you can also override the base image in the TPR. See #34

[2017-06-27 14:56] #55 closed

[2017-06-27 14:57] stevesloka commented on #51
Closed by #52

[2017-06-27 14:57] #51 closed

[2017-06-29 14:09] stevesloka opened #57 "Expose statsd endpoint url"
Need is to export instrumentation via statsd from Elastic. The endpoint for statsd is an environment variable already (https://github.com/upmc-enterprises/docker-elasticsearch-kubernetes/blob/master/config/elasticsearch.yml#L49).

The TPR should expose a param to the url for statsd endpoint as well as set this env in the cluster.

[2017-06-29 17:23] stevesloka opened #58 "Update discovery service"
A recent PR has added ability to create multiple clusters in the same namespace, however, the discovery service wasn't being set and the sane default no longer works.

I'm testing through a fix right now.

[2017-06-29 17:52] #57 closed

[2017-06-29 17:53] #58 closed

[2017-07-03 17:24] #23 closed

[2017-07-03 17:59] pires commented on #23
@stevesloka check this one out too https://github.com/pires/kubernetes-elasticsearch-cluster#ipv6-orgelasticsearchbootstrapstartupexception-bindtransportexception

[2017-07-05 15:30] #45 closed

[2017-07-05 15:32] stevesloka commented on #32
Closed in #60

[2017-07-05 15:32] #32 closed

[2017-07-05 15:33] stevesloka commented on #6
For now no real requests to do this for older k8s versions but fee free to post here if there is interest.

[2017-07-05 15:33] #6 closed

[2017-07-05 15:36] stevesloka commented on #5
@djschny, I work in a hipaa environment where we are required to do encyrption at rest and in transit, so in production we have to have that enabled. @gianrubio is working on a setting now to disable if folks do not require or want off for dev purposes.

I'll open a new issue for Authentication/Authorization which the operator currently doesn't have.

[2017-07-05 15:37] stevesloka opened #66 "Authentication/Authorization"
Add username/password and roles to restrict access to the cluster

// cc #5

[2017-07-05 17:57] stevesloka commented on #13
Hey @krallistic were you still intending on implementing this? If not I'd like to take it over to get it implemented.

[2017-07-05 18:08] gianrubio commented on #13
Steve, what do you think to write docs on how to use podpreset to override
some specs in the pod?

In that case we can focus on developing new features x pods customizations.

https://kubernetes.io/docs/tasks/inject-data-application/podpreset/

On Wed, 5 Jul 2017 at 19:57, Steve Sloka <notifications@github.com> wrote:

--
Giancarlo Rubio

[2017-07-05 18:22] stevesloka commented on #13
Giancarlo, is the idea to allow people to modify the pods the operator is already creating? I see how this is useful in the Service Catalog example, but not sure how this makes ES better. Can you elaborate a bit on the idea?

[2017-07-07 06:45] krallistic commented on #13
Sorry, sadly I am too caught up in other stuff.

[2017-07-07 13:42] stevesloka opened #67 "Secrets need to match cluster"
Right now since the merge of the PR which allows for multiple clusters in the same namespace, the operator still references the same secret.

[2017-07-07 17:50] #28 closed

[2017-07-07 17:50] #15 closed

[2017-07-07 17:50] stevesloka commented on #15
This is complete in #68

[2017-07-07 17:50] stevesloka commented on #28
This is complete in #68

[2017-07-11 13:00] gianrubio commented on #13
Yes, that's the idea, using a podPreset we allow the users to override configuration on the deployed pod without changing the es operator code.

I was just trying to keep the focus on operator features x k8s customisation.

[2017-07-12 19:57] ethanwinograd commented on #50
I did this manually on a 10 node cluster ( 2 master, 3 client, 5 data) in kubernetes today in order to pick up new certs from a secret... it worked - it seemed like I had to get the masters updated before the other nodes would be happy  since everyone is talking to each other when they come up.    Eventually we went green and all was good.

@djschny  do you recommend doing the masters first in tha

[2017-07-12 20:02] djschny commented on #50
Yes @ethanwinograd. Sorry I should have stated that explicitly in the steps.

[2017-07-13 13:17] stevesloka opened #70 "Autogen Certs"
Allow the operator to self gen certs as an option.

[2017-07-13 15:45] stevesloka opened #71 "Delete Jobs when cluster is deleted"
When a cluster is deleted, the CronJob is deleted, but corresponding jobs may be left orphaned. Operator should clean those up as well.

[2017-07-14 21:38] stevesloka commented on #70
Closed with #72

[2017-07-14 21:38] #70 closed

[2017-07-20 15:48] #71 closed

[2017-07-20 15:48] stevesloka commented on #71
Resolved with #73

[2017-07-20 15:49] stevesloka commented on #67
Secrets are now autogen'd with certs. They match the cluster name, need to document that schema in the case where you do not want autogenerated certs.

[2017-07-21 12:34] stevesloka opened #74 "Autogen Cert CA Error"
The truststore.jks has a bug in how it's created causing the cluster to fail to accept requests.

[2017-07-21 12:44] #74 closed

[2017-07-25 14:43] stevesloka commented on #12
This has been implemented in #68

[2017-07-25 14:43] #12 closed

[2017-07-26 15:37] sokoow opened #76 "not RBAC friendly?"
I'm using kubernetes 1.7.1, and have a following problem:

[code]

Does that mean that RBAC rules are missing?

[2017-07-29 14:20] stevesloka commented on #76
Hey @sokoow, currently I don't have the RBAC rules in place, I'm working on it now and should have this week, unless you want to take it on and push up a PR. Will touch base back soon!

[2017-08-02 14:29] #76 closed

[2017-08-02 14:30] stevesloka commented on #76
Hey @sokoow, I found some missing pieces in the rbac rules and updated them. The breaking change is you need to make sure to reference the service account in the namespace where the operator will run.

[2017-08-02 14:36] stevesloka opened #78 "rbac with k8s 1.7.2"
Similar to #76 found that on a 1.7.2 cluster, cannot get TPR. Works fine on 1.7.0 on minikube. Not sure if a minikube issue or a client-go issue needing upgrading.

[2017-08-02 14:37] stevesloka commented on #76
...also just tested on my production 1.7.2 cluster and getting the same error, but my testing on 1.7.0 inside minikube worked fine.

[2017-08-02 14:48] sokoow commented on #76
Minikube is not always a good way to test things... ;)

[2017-08-04 13:41] HackToHell commented on #13
Added this based on nodes in https://github.com/upmc-enterprises/elasticsearch-operator/pull/79

[2017-08-14 13:23] ethanwinograd opened #81 "secrets overwritten"
The operator is overwriting pre-existing secrets even if they have the same name as the secret it is trying to create.

[2017-08-14 13:44] ethanwinograd opened #82 "network_host needs added to example deployment descriptor"
es-cluster.json needs to have this entry so that the nodes bind on ports other than 127.0.0.1

    "network-host": "_eth0_",

[2017-08-14 14:25] stevesloka commented on #78
I tested this with a new 1.7.3 cluster using RBAC and all worked well. Please comment back here and we can reopen if not working still.

[2017-08-14 14:25] #78 closed

[2017-08-14 14:38] djschny commented on #82
I would suggest against this for the following reasons:

* It no longer binds to `localhost` for use if you are running commands internally when inside the container diagnosing or scripting things
* It hard codes a particular interface

Instead I would suggest using `0.0.0.0` which will bind to any interface in the container.

[2017-08-14 15:03] stevesloka commented on #82
That's a great point @djschny,  which one would that map to? `_site_`?
 https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-network.html#network-interface-values

[2017-08-14 15:04] djschny commented on #82
Actually none of the ones listed :), hence why suggested `0.0.0.0`

[2017-08-14 15:08] stevesloka commented on #82
Happy Monday! I tested with `_0.0.0.0_` and wondered why it wouldn't work. I'll get this updated, thanks for the feedback!

[2017-08-15 13:52] #82 closed

[2017-08-15 14:07] stevesloka commented on #13
Closed via #79

[2017-08-15 14:07] #13 closed

[2017-08-15 14:16] stevesloka commented on #81
No problem! Please reopen and we'll take a look if still seems like an issue.

[2017-08-15 14:16] #81 closed

[2017-08-15 14:44] stevesloka commented on #36
Cron updates are fixed since moving to k8s cronjobs.

[2017-08-15 14:44] #36 closed

[2017-08-15 14:45] stevesloka commented on #40
Cron updates are fixed since moving to k8s cronjobs.

[2017-08-15 14:45] #40 closed

[2017-08-15 14:52] #67 closed

[2017-08-15 14:56] stevesloka opened #87 "Disable snapshots after enabled"
If snapshots are enabled, then they are changed to disabled, then the cronjobs aren't deleted.

[2017-08-18 22:27] agolomoodysaada commented on #43
A potential alternative here would be to use something like Rook/Ceph or any other elastic storage system.

[2017-08-23 13:49] stevesloka opened #88 "zone awareness"
Need to implement zone awareness so that primary & replica shards are not all scheduled into the same zone: https://www.elastic.co/guide/en/elasticsearch/reference/current/allocation-awareness.html

[2017-08-23 13:51] stevesloka commented on #88
Reference: https://github.com/pires/docker-elasticsearch/pull/36

[2017-08-25 13:09] oavioz opened #89 "Supporting on Azure"
I have a question about using this  repo on azure cloud.

First, dose this repo could be running on Azure?

If so, I see the file content “example-es-cluster.json” and my questions are:

•	What is “storage-class-provisioner" for azure storage? do you have an example?
•	The "zones" on spec can be for azure regions? If so do you have an example?
•	"resources" – is it per container?

Can you send ple

[2017-08-29 18:24] stevesloka opened #90 "ES Masters Persistence"
Need to move master to statefulsets and give them persistence.

[2017-08-29 18:26] stevesloka commented on #89
Hey @oavioz, I'll get an Azure k8s cluster spun up and see what needs to be changed, shouldn't be too bad.

A 2nd PR I think we'll need to make is to enable snapshots for Azure specific since s3 isn't available (https://github.com/elastic/elasticsearch-cloud-azure).

[2017-08-29 18:26] stevesloka opened #91 "Support Azure for snapshots"
Enable snapshots for Azure specific since s3 isn't available (https://github.com/elastic/elasticsearch-cloud-azure).

[2017-08-29 18:26] stevesloka commented on #89
//cc #91

[2017-08-31 18:56] #90 closed

[2017-08-31 20:13] #89 closed

[2017-08-31 20:14] stevesloka commented on #89
@oavioz I just pushed a sample file I ran on ACS cluster and got the operator working. I'll look at the snapshotting feature next.

[2017-09-01 14:01] stevesloka opened #95 "Add option for Kibana"
Would be cool to have an option for Kibana to be added in as well as referencing the certs created. Should be optional and disabled by default.

[2017-09-01 19:33] #95 closed

[2017-09-01 19:40] stevesloka opened #97 "Kibana should be TLS'd"
Need to encrypt everything in transit. Should autogen the cert based upon the same CA that elastic is using.

[2017-09-14 21:42] runningman84 opened #99 "Allow non tls client nodes"
It would be cool to have an option to run client nodes without tls. There is software like graylog which does not like the self signed certs created by the operator.

Connected to:
https://github.com/upmc-enterprises/elasticsearch-operator/issues/5
https://github.com/Graylog2/graylog2-server/issues/4153

[2017-09-15 13:26] stevesloka commented on #99
This is a feature which we've documented (#5). Also, @gianrubio has a PR in progress on this, not sure what else is left (#64)

Certs that are auto-generated are also exposed as secrets in the same namespace. You'd have to spin up the elastic cluster first, but could have Graylog pull those in maybe as an alternative.

[2017-09-21 03:40] snsumner opened #100 "Adding support for vSphereVolume"
It would be quite useful if the Elasticsearch operator add support for using vSphereVolume or NFS. I've tried tweaking it to work but have no success.

[code]

[2017-09-21 13:14] stevesloka commented on #100
What does your TPR look like? Would you be able to share that? Could you share the storage class that got created?

[2017-09-21 14:59] snsumner commented on #100
This is what my hacked TPR looks like:

[code]

[2017-09-21 17:42] stevesloka commented on #100
I think the `type` and `zone` piece is part of the problem. Let me see if I can work that out into params or something.

I don't have access to vSphere, but I do have ESXi. Can I test on that?

Also, you mentioned the same with NFS? I do have an NFS server I could spin up to validate on.

[2017-09-21 18:16] snsumner commented on #100
I came to similar conclusion that `type` and `zone` are not valid parameters for the vSphereVolume storage class.

Using ESXi alone will not allow you to use vSphereVolume. The reason is that the setup requires the storage class to be able to access the vSphere server's API.

If your interested I can give you temporary access to my homelab sandbox environment where I have vSphereVolume setup to de

[2017-09-26 13:47] stevesloka commented on #100
Hey @snsumner I haven't forgotten about this, going to carve out some time today to get this working for you.

[2017-09-27 14:02] stevesloka commented on #97
This is ready in #98

[2017-09-27 14:02] #97 closed

[2017-09-27 14:03] stevesloka opened #101 "Switch to CRD's"
Need to switch to CRD's from TPR's since they are now deprecated in 1.8.

[2017-10-03 02:40] stevesloka commented on #101
Closed via #102

[2017-10-03 02:40] #101 closed

[2017-10-04 15:44] mattbates commented on #38
cc @munnerz

[2017-10-08 18:50] bgagnon opened #105 "Adjust `minimum_master_nodes` dynamically"
The operator should react to changes in the number of master nodes, and adjust the value of `discovery.zen.minimum_master_nodes` to be the [quorum](https://www.elastic.co/guide/en/elasticsearch/reference/current/important-settings.html#minimum_master_nodes) of that number: `(N/2) + 1`.

|masters|minimum_master_nodes|
|--------|------------------------|
|1|1|
|2|2|
|3|2|
|4|3|
|5|3|
|...|...|
|`N`|

[2017-10-11 17:42] stevesloka commented on #105
Thanks @bgagnon, I'm working on the cluster health pieces now, but will look into getting this completed soon. I appreciate the feedback!

[2017-10-11 17:43] stevesloka commented on #100
TLDR: Scott was able to create a storage class using the VMWare volumes, we referenced that from the operator and the volumes were provisioned dynamically.

[2017-10-11 17:43] #100 closed

[2017-10-11 18:02] stevesloka commented on #38
Hey @djschny, if we start the master nodes first and the client nodes last, how do we check for cluster health? Right now I can query the clients for cluster health, but in your list it's the last bit.

Do I enable the http interface on all nodes and query passing `local=true`? (https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-health.html)

[2017-10-12 21:46] pieterlange commented on #38
Something recently added to k8s in 1.8: [Pod Priority and Preemption](https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/)

[2017-10-12 22:45] djschny commented on #38
In this scenario for administrative task like this you will want to query the master node(s).

[2017-10-12 22:46] djschny commented on #38
http should be enabled on all nodes always

[2017-10-12 23:17] stevesloka commented on #38
Is _cluster/health the right endpoint that you would.use?

[2017-10-13 01:10] djschny commented on #38
It depends upon what level of error reporting and handling you want to do when something goes wrong. `_cluster/health` will get you what is required with the `number_of_data_nodes` field. However if you don’t get to that number in a reasonable amount of time, and want to log an event in Kubernetes stating which node/pod is not coming online correctly, or want to do further action on the particular

[2017-10-13 01:16] stevesloka commented on #38
Yes that helps @djschny, thanks again for the feedback!

[2017-10-13 12:58] stevesloka opened #106 "Cerebro TLS"
Cerebro was added for metrics against the cluster, need to enable TLS since certs are already generated.

https://www.playframework.com/documentation/2.5.x/ConfiguringHttps#ssl-certificates

[2017-10-13 18:47] liwang-pivotal opened #107 "Java/Spring Client can't access cluster"
With Search Guard SSL is enabled, Java Client is not able to access cluster even provided node-keystore.jks, truststore.jks.

The Client code snippet is as below:

[code]

Is this the proper settings to use? Any suggestions?

[2017-10-16 04:24] stevesloka commented on #107
Hey @liwang-pivotal, what's the exception you're getting?

[2017-10-17 17:01] liwang-pivotal commented on #107
@stevesloka The error is like
[code]
However I checked the port is open and should be able to connect.
Anything wrong with my code snippet above? Is this the correct way to connect to k8s cluster created by this operator?
Thanks.

[2017-10-17 20:38] liwang-pivotal commented on #107
@stevesloka Seems it's a Spring Data ElasticSearch issue. Once I replace it with ES Java client dependencies, it works for me.

[2017-10-24 20:17] snsumner opened #113 "Add ability to parameterize reclaim policy for ES data nodes"
For demo purposes it would be nice to be able to switch the reclaim policy to Delete currently its hardcoding to Retain:

https://github.com/upmc-enterprises/elasticsearch-operator/blob/6b47b2edb60c6682eef4f9488bc9d8bdfb8be66d/pkg/processor/processor.go#L212

[2017-10-25 14:35] #113 closed

[2017-10-30 13:15] gianrubio commented on #106
This is already manager by the [operator](https://github.com/upmc-enterprises/elasticsearch-operator/blob/master/pkg/k8sutil/k8sutil.go#L603-L608), right?

[2017-10-31 00:23] kfox1111 opened #116 "minikube locking broken"
I'm trying to launch a cluster using the minikube example. its failing to launch with all elasticsearch containers displaying an error such as:

[2017-10-31T00:20:56,453][INFO ][o.e.n.Node               ] [4b9e027d-3216-4da9-b55d-846dfb048582] initializing ...
[2017-10-31T00:20:56,485][WARN ][o.e.b.ElasticsearchUncaughtExceptionHandler] [4b9e027d-3216-4da9-b55d-846dfb048582] uncaught exception in

[2017-11-01 14:32] kfox1111 commented on #116
I tried to add '--loggger.env=TRACE' to the java opts, but the jvm complains. is there a way to add flags to elasticsearch?

[2017-11-01 14:45] stevesloka commented on #116
How much memory does your minikube vm have? I've seen goofy things with elastic when I run without enough resources.

[2017-11-01 16:54] snsumner commented on #113
How do you utilize this fix?

[2017-11-01 17:41] kfox1111 commented on #116
I launched it with 8 gigs. Its really not liking to take a lock.... I straced it and I do see the fcntl F_SETLK succeed though, which is puzzling.

[2017-11-01 17:44] kfox1111 commented on #116
I bumped the tag on the elasticsearch image to 5.6.3_0 as I see there is an image for that now. It did get past the locking issue, so I think that it was maybe a docker version that was incompatible with the older elasticsearch/lucene?

I hit another issue too. the init container trick to force in the sysctl setting is no longer applied in 1.8 as I think it graduated and they dropped the annotatio

[2017-11-02 19:39] #107 closed

[2017-11-02 19:40] stevesloka commented on #106
That cert is so that cerebro can talk to the ES cluster. I was wanting to make sure Cerebro itself is served over https.

[2017-11-02 19:42] stevesloka commented on #113
There's a new `volume-reclaim-policy` on the storage option in the CRD. You can add that and set the policy to `Retain` or `Delete`.

[2017-11-02 19:45] stevesloka commented on #116
I was just testing the new 5.6.3 image. Let me finish that and see what's up. We did a switch on the SearchGuard plugin from SearchGuardTLS to just the plain searchguard as we're doing some thing with auth now.

[2017-11-02 20:15] kfox1111 commented on #116
ok, cool. please let me know if there is anything I can do to help debug. :)

[2017-11-02 20:26] dustinchilson opened #117 "Elasticsearch startup fails with 'failed to obtain data locks'"
I've been experimenting with the azure example and am getting the above issue.

Could be related to pires/kubernetes-elasticsearch-cluster#145

[code]

Thanks for any direction you might be able to give me.

[2017-11-06 16:09] stevesloka commented on #116
Just for reference, what version of k8s are you using?

[2017-11-06 16:10] stevesloka commented on #117
Hey @dustinchilson, this is similar to #116. Just curious what version of k8s are you running?

[2017-11-06 16:29] dustinchilson commented on #117
I was attempting on v1.8.2. I built my cluster using [Azure/acs-engine](https://github.com/Azure/acs-engine) from source.

I have 3 Standard_D2_v2 VMs (2 Core, 7gb ram) for nodes.

I can try a 1.7 cluster if that helps.

[2017-11-06 16:51] kfox1111 commented on #116
minikube version: v0.23.0
kubectl version
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.0", GitCommit:"6e937839ac04a38cac63e6a7a306c5d035fe7b0a", GitTreeState:"clean", BuildDate:"2017-09-28T22:57:57Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.0", GitCommit:"0b9efaeb34a2fc51ff8e4d34ad9bc6375

[2017-11-07 14:38] dustinchilson commented on #117
I tried on a v1.7.9 cluster and received the same messages.

[code]

[2017-11-09 19:14] stevesloka commented on #116
I think the newer elastic images should work. I'm working through that right now since like you found the search guard stuff is broken. Will update very soon!

[2017-11-09 19:14] stevesloka commented on #117
I think a newer elastic image should work. I'm working on that right now. Will update very soon!

[2017-11-11 23:18] otisg commented on #88
Yeah, this would be a major plus for ES operator (and something that sort of prevents us from using ES operator over at @sematext).  Is this something that you might be adding in the next few weeks?

[2017-11-13 15:14] stevesloka commented on #88
Let me see what I can do. 😀

[2017-11-13 15:20] djschny commented on #88
The definition of what a `zone` is something the user must provide as it depends upon their deployment environment and topology. I would suggest passing through the the shared awareness from the CRD to Elasticsearch to keep it generic.

Pod anti-affinity is something much different than the awareness in ES. Awareness is for shards (node agnostic) where as pod anti-affinity would apply to not runni

[2017-11-13 15:29] stevesloka commented on #88
That's a good point @djschny, right now we have a zone feature in the crd, but that applies to and AWS environment.

@otisg, are you deploying to AWS? If not we will need some work to make the storage class piece more generic for non AWS environments first.

[2017-11-13 18:49] otisg commented on #88
@stevesloka Yes, to AWS (EC2+EBS).  Are you saying ES Operator already supports this?

[2017-11-14 03:27] stevesloka commented on #88
Right now it will distribute the data nodes across the zones, but nothing enforces Elastic to put the right distribution of replicas across those zones, that was the intent of this issue, to give elastic knowledge of the zones you're deployed to so it can do that extra bit of work.

[2017-11-20 15:29] hatemosphere commented on #105
+1 for this. @stevesloka right now we're testing elastic operator and by setting more than 1 master it produces split brain out of the box.

[2017-11-23 17:00] rawkode commented on #4
@fabito Did you get anywhere with this?

[2017-11-27 10:20] komljen opened #121 "Support for Hot-Warm architecture"
I'm looking into something like this https://www.elastic.co/blog/hot-warm-architecture-in-elasticsearch-5-x. At this point, I'm not sure if this is hard to implement. It seems easy to configure, but probably there is more than that `node.attr.box_type: hot` or `node.attr.box_type: warm` especially if multi-zone awareness is added on top of that.

[2017-12-01 23:56] splisson-altair commented on #39
It seems this is not valid anymore since the secret name is now: es-certs-<clusterName>

[2017-12-06 13:27] dustinchilson commented on #117
Just checking in, Has there been any progress on this.

Thanks

[2017-12-06 15:29] stevesloka commented on #117
Yup I've got good progress. Using the newer elastic image fixes, I've got a big update to support 1.8 clusters since annotations moved.

[2017-12-13 04:39] stevesloka commented on #116
I've got a big PR to fix much of these issues, however, minikube is still broken for me. I was wondering if you could try out yours for me.

Here are the two images that are updated:

- upmcenterprises/elasticsearch-operator:0.0.10-beta
- upmcenterprises/docker-elasticsearch-kubernetes:5.6.4_1

Here's the error I get on minikube, but not any other cluster:

[code]

[2017-12-13 04:40] stevesloka commented on #117
@dustinchilson I think I've got this fixed up in #123 If you want to test sooner here are the relevant images:

- upmcenterprises/elasticsearch-operator:0.0.10-beta
- upmcenterprises/docker-elasticsearch-kubernetes:5.6.4_1

Also, I've had issues running in minikube, but this works fine in a regular cluster (AWS or Bare Metal)

[2017-12-13 14:55] stevesloka commented on #116
I just tested minikube using virtualbox and not xhyve, and it all worked. I can't tell why, but something with xhyve is broken.

[2017-12-19 01:54] selvik opened #124 "Error: "no matches for enterprises.upmc.com" when creating example on minikube"
Hello,

I am using minikube version 0.18 and Kubernetes version 1.8.5 on OS X.

The first step of kubectl create of example/controller.yaml completes successfully. However the second step (below) returns with the following error:

`$ kubectl create -f https://raw.githubusercontent.com/upmc-enterprises/elasticsearch-operator/master/example/example-es-cluster-minikube.yaml`

`error: unable to recogn

[2017-12-20 15:11] stevesloka commented on #124
Could you do a: `kubectl get crd` and see if there are types in there for elastic? Also, could look at the logs from the operator when it first starts up to see if there are errors there. One of the first things it does is create it's own CRD, if that fails then the next step you're trying will as well.

[2017-12-20 15:58] selvik commented on #124
Thanks] you very much for the response. `get crd` does not return any resources. Here are the errors from the pod.  It seems to be some RBAC related issue. Does this operator need some roles to be customized?

[code]

[2017-12-20 22:10] selvik commented on #124
After giving cluster-admin privileges to the "default" service account in the "default" namespace, the operator started working correctly.

```kubectl create clusterrolebinding cluster-admin-binding-2   --clusterrole=cluster-admin  --user=system:serviceaccount:default:default```

Was I supposed to do this?  Would you know what all changes need to be made if I wanted to run the operator as a specif

[2017-12-20 23:06] selvik opened #125 "Disabling snapshotting to AWS"
I will be running this operator in my local Kubernetes cluster.  Could you please tell me how I can disable snapshotting to AWS?  Would it be sufficient to remove these config options from the elastic cluster's manifest file or would I have to make any code changes?

[code]

[2017-12-21 00:16] selvik opened #126 "Master and data pods not starting up"
Hi,
I notice that my master and data pods in the elastic cluster continue to be in Pending state. How should I configure my elastic search cluster so that it doesn't use a persistent volumes (yes, I would like to test using just using just ephemeral pod storage).  Currently here is how I am creating my ES cluster:

[code]
Shown below are the pending pods and errors in starting them up:

[code]
**E

[2017-12-21 02:18] stevesloka commented on #125
To disable snapshot, you should set the value `scheduler-enabled` to `false` as you have and the snapshots won't enable the cronjob.

Are you seeing something different?

[2017-12-21 02:19] stevesloka commented on #124
The example controller includes the proper RBAC rules. Can you maybe create it again (https://github.com/upmc-enterprises/elasticsearch-operator/blob/master/example/controller.yaml) and see if any other errors pop up?

[2017-12-21 02:21] stevesloka commented on #126
The helm piece just landed and hasn't been really tested for all scenario's. For now, could you create using the yaml way?

Specifically for minikube to create dynamic PV's, it needs to reference the `standard` storage class. See the example here: https://github.com/upmc-enterprises/elasticsearch-operator/blob/master/example/example-es-cluster-minikube.yaml#L23

[2017-12-21 02:30] #117 closed

[2017-12-21 11:41] selvik commented on #126
Actually I moved away from the minikube setup because of helm issues.
So now I am on a baremetal K8S cluster. From your recommendation above I should use the ```standard``` storage class. But what if I don't want to use any persistent volumes at all - what should I choose for the storage options? This will be for me to test things out. And when moving to production I will be using some PVs.

[2017-12-21 22:29] selvik commented on #125
Hi @stevesloka Thanks  for your response.

I just wanted to check whether the way to disable snapshotting is:
(a) removing these configuration options
or
(b) setting scheduler-enabled to false

From your response the correct way to do it is (b). If that is the case, it answers my question.

I will go ahead and close this issue.  Thanks again for taking time to respond.

[2017-12-22 17:33] ethanwinograd opened #127 "deleting the cluster causes secrets to be removed"
Doing a kubectl delete -f on the es-cluster.json removes the secrets that are used to mount the certs.
I think this is being done by the operator, because new secrets (with new certs) are being generated when the create is subsequently called on that controller spec.

This presents a problem for client applications including searchguard sgadmin.

[2017-12-28 14:02] komljen opened #129 "Init containers syntax with annotations is deprecated in Kubernetes 1.8"
The operator is using the old syntax for init containers https://github.com/upmc-enterprises/elasticsearch-operator/blob/master/pkg/k8sutil/deployments.go#L138.

And if we take a look here
https://kubernetes.io/docs/concepts/workloads/pods/init-containers/

"There is a new syntax in Kubernetes 1.6, although the old annotation syntax still works for 1.6 and 1.7. The new syntax must be used for 1.8

[2017-12-28 14:21] stevesloka commented on #129
The latest release should have the new syntax, I did have issues running on minikube with xhyve on OSX. Using virtual box was fine.

Can you confirm you have the latest release of the operator?

[2017-12-28 14:23] komljen commented on #129
Ah, I just saw that there is the new version. I'm using 0.0.9. I will try with 0.0.10 and if everything is ok I will close this issue.

[2017-12-28 14:31] komljen commented on #129
Everything works with 0.0.10 release. Thanks

[2017-12-28 14:31] #129 closed

[2017-12-28 14:35] stevesloka commented on #129
Awesome thanks! 😀

[2017-12-29 16:11] ethanwinograd opened #130 "scaling existing pods"
It is not possible to edit the ElasticsearchCluster type, and so scaling the number of pods via editing the deployment descriptor or statefulsets result in the operator resetting the number back to the number specified in the cluster definition json file.

Is there a way around this?

[2017-12-29 16:12] stevesloka commented on #130
You should edit the TPR, then the operator will scale accordingly.

[2017-12-29 17:48] ethanwinograd commented on #130
maybe its the version of kubernetes we are on but I dont think it is possible to edit the tpr.

[2017-12-29 18:23] ethanwinograd commented on #130
ok you can close this, apparently its fixed in 1.6 and we are not there yet.

[2017-12-29 19:45] stevesloka commented on #130
Scaling should work at any version, that was the first thing implemented. Please reopen if you continue to see issues.

[2017-12-29 19:45] #130 closed

[2017-12-29 19:47] stevesloka commented on #127
Yes, this is the current behavior. The thinking is, if you delete the cluster then the secrets are no longer valid and clients have nothing to talk to sine the cluster was deleted.

[2017-12-29 20:36] ethanwinograd commented on #127
thats cool except that the operator then creates its own secrets which are out of sync with the clients.  the cluster gets recreated with the operator-created secrets and the clients cant resolve the rootca.  worse if you are using truststore and keystore to do searchguard admin, because they cant handshake at all. (different truststore and keystore).
this kind of ties back to the editing tpr prob

[2017-12-29 20:58] stevesloka commented on #127
You can absolutely edit the cluster by mutating the TPR and the operator will update the cluster accordingly.  There shouldn't be a normal maintenance mode where you are deleting and recreating unless you actually want a new cluster.

Let's chat about it next week, I may be in town.

[2017-12-30 03:04] stevesloka commented on #126
Hey @selvik I added a sample storage class which should allow you to do this testing. You still need to provision PV's, however, you can use this class to do that on host volumes.

See: https://github.com/upmc-enterprises/elasticsearch-operator/blob/master/example/hostpath-sc.yaml & https://github.com/upmc-enterprises/elasticsearch-operator/blob/master/example/example-es-cluster-hostpath.yaml

[2017-12-30 03:05] stevesloka commented on #125
Yes sorry if I wasn't clear, disabling is best to explicitly set `scheduler-enabled: false`

[2017-12-30 03:05] #125 closed

[2017-12-30 03:05] stevesloka commented on #124
Let me know if you see any issues with the RBAC rules and please reopen if you do, I'll close for now.

[2017-12-30 03:05] #124 closed

[2017-12-31 03:26] stevesloka commented on #127
Hey @ethanwinograd, I added a param to allow you to set if secrets should be kept when a cluster is deleted. See: https://github.com/upmc-enterprises/elasticsearch-operator#customresourcedefinition

[2017-12-31 03:26] #127 closed

[2018-01-02 14:16] ethanwinograd opened #134 "Encrypted Volumes for Statefulsets"
We are running on v0.0.7 of the operator.

Do you know where a change would need to be made so that the EBS volumes get created as encrypted volumes?

[2018-01-02 14:19] stevesloka commented on #134
Volume encryption is based upon the storage class. The operator created classes should default to set the encrypted flag, but if you provide your own, you'd need to set the same.

[2018-01-02 14:22] ethanwinograd commented on #134
so it would be in this file? https://github.com/upmc-enterprises/elasticsearch-operator/blob/v0.0.7/pkg/k8sutil/storage.go

[2018-01-03 18:40] kfox1111 commented on #116
I tried it again in minikube with kvm and got the same issue:
[2018-01-03T18:36:51,030][WARN ][o.e.b.ElasticsearchUncaughtExceptionHandler] [21ce0876-52fd-41ef-bcef-8ece9d07fa03] uncaught exception in thread [main]
org.elasticsearch.bootstrap.StartupException: java.lang.IllegalStateException: failed to obtain node locks, tried [[/data/data/myesdb]] with lock id [0]; maybe these locations are not w

[2018-01-03 18:54] kfox1111 commented on #116
I noticed the chart is using the older version of the container. bumping up to the newer version to see if that will fix things.

[2018-01-04 01:03] kfox1111 commented on #116
the newest tag does fix the issue and I have the whole stack successfully running in minikube. So I think the only thing left for this issue is a PR to update the default tag in the elasticsearch helm chart?

[2018-01-04 01:06] kfox1111 commented on #116
FYI, to get it to work I did have to:
minikube ssh
sudo sysctl -w vm.max_map_count=262144
# as well. and launched it like:
helm install elasticsearch -n foo --set 'image.tag=5.6.4_1,javaOpts="-Xms256m -Xmx256m"'

[2018-01-04 01:09] kfox1111 opened #135 "ca configmap."
Could the operator please be updated to upload the CA certificate to a configmap under the key ca.pem?

This would allow it to much more easily be integrated securely with things like fluent where you might want to have a helm chart to setup fluent/elasticsearch cluster to easily push all k8s logs to a launched EK managed by the operator.

[2018-01-04 20:47] stevesloka commented on #135
The ca should be in the auto-gen'd secret it uses when it creates the certs. Can you check there?

[2018-01-04 20:53] stevesloka commented on #134
Yeah should be in that file but I don't see it. May have found an issue with this. Let me spin up a new cluster and validate.

[2018-01-04 20:53] stevesloka commented on #126
Let me know if you see issues with the examples provided above. Feel free to re-open.

[2018-01-04 20:53] #126 closed

[2018-01-04 21:10] kfox1111 commented on #135
ah. I see it. thanks.

It looks like all the secrets are there though. What I'm trying to do is launch fluent-bit via daemonset to land on every host and forward all container logs to an elasticsearch-operator managed cluster. Kubernetes now restricts access to secrets to only nodes that have a pod that references the secret. I could just reference the secret in the fluent-bit config, but then all

[2018-01-04 21:16] stevesloka commented on #135
Ahh I see now, yes that's a good point. We can add that, makes good sense.

[2018-01-04 21:28] selvik commented on #126
Thanks @stevesloka I haven't had a chance yet to try this. I will let you know if I do see any issues. Thank you very much for following up! :+1:

[2018-01-04 21:32] kfox1111 commented on #135
cool. thanks.

[2018-01-05 10:54] Overbryd opened #137 "Cannot create cluster by example in Kubernetes v1.8"
Hi,

sorry, this might be a noob-ish issue, but maybe you can help me out.
I am doing an example deployment of the operator and an elasticsearch cluster.

This is the log output of the elasticsearch-operator:

[code]

It fails to create the cluster, because it cannot find the service account.
Yet, the service account is present, configured and binding to the respective clusterRole.

See below, for

[2018-01-05 10:57] Overbryd commented on #137
Ok, digging a bit further, I think I found the culprit:

The `clusterRole` `apiGroup` for `deployments` has changed from `extensions` to `apps`:

[code]

[2018-01-05 11:04] Overbryd opened #138 "Cluster pods fail at bootstrap checks"
Hi,

another thing I found deployment an example elasticsearch cluster on Kubernetes v1.8 on the Google Compute Engine.

The pods error out with this particular in the logs:

[code]

Maybe something for the operator, so it might want to the check that the target instances support this sysconfig setting?

Any experience with running this on GCE?

[2018-01-05 11:16] Overbryd commented on #138
I found an issue in the pires/kubernetes-elasticsearch-cluster project. https://github.com/pires/kubernetes-elasticsearch-cluster/issues/85

Adding the following the my operator manifest configures all nodes properly:

[code]

[2018-01-09 14:10] ethanwinograd commented on #134
We were able to get encrypted volumes using the 0.07 version of the operator as follows.

1. Create a storage class with encrypted=true called "es-storageclass"
2. Edit the es-cluster.json with the following
 "storage": {
      "storage-class": "es-storageclass"
    },

and

"zones": ["es-storageclass"],

This had the desired effect of creating the statefulsets in the available zones for the accou

[2018-01-16 12:36] wadeholler opened #139 "Declare variable for busybox image"
As far as I can tell - Inclusion of k8sutil - introduces a dependency on busybox.  This declaration does not appear to have a variable for the location of the busybox image.  Deploying a cluster with this operator fails in disconnected environments that only have a private registry.

Suggestion: Update with a variable for the location of the busybox image, like has been done for the other ( elasti

[2018-01-16 14:48] stevesloka commented on #138
Hey @Overbryd I haven't run into this issue yet, but might be good to add the DS so the operator creates for you. Thanks for the heads up!

[2018-01-16 14:50] stevesloka commented on #137
Thanks @Overbryd, happy to take a PR if you want to update, or I can make the fix.

[2018-01-18 19:04] apenney commented on #4
We're looking at deploying ES into GKE in the near future.  Before we pick up taking a look at what it would require to make this work in GKE, has anyone else been working on this? @rawkode @fabito

[2018-01-18 19:24] stevesloka commented on #4
Hey @apenney all you should need to do to get rolling is create a storage class that maps to GKE volumes. Do you have needs to scale nodes across zones? That really the implementation piece that needs to be worked out.

[2018-01-18 19:44] apenney commented on #4
I was just worried about being able to take snapshots.  I'd like to be able to scale across zones but I think we can survive until that work is done.  Glad to hear we should be good!

[2018-01-18 19:48] stevesloka commented on #4
oh you're correct though, we'd need to expand support for that. Sorry, read too quickly. Let me look into it, shouldn't be too difficult.

[2018-02-02 10:17] mumoshu opened #140 "Helm chart referring an old image"
Hi! Thanks for sharing this.

I had encountered exactly #117 after installing operator+cluster with helm following README.
Seems like we'd better update [the image tag in values.yaml](https://github.com/upmc-enterprises/elasticsearch-operator/blob/master/charts/elasticsearch/values.yaml#L6).

[2018-02-02 10:32] mumoshu opened #141 "helm chart: Support K8S 1.8+"
I have encountered https://github.com/docker-library/elasticsearch/issues/111 after installing a cluster with helm.

Digging a bit, it turned out that K8S 1.8+ [dropped support for annotation-based init containers](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/) so that the init container wasn't run at all in my env(K8S 1.9).

Rewriting the chart template to use an `initContai

[2018-02-02 10:36] mumoshu commented on #141
This and #138 seems to share the same cause.

[2018-02-02 11:01] mumoshu commented on #141
Let me share what worked for me:

[code]

[2018-02-02 11:22] mumoshu opened #142 "helm chart: Missing storage.storage-class-provisioner"
K8S: v1.9.1

After manually resolving #140 and #141, the operator was complaining like:

[code]

Once I had added a provisioner name to the cr, it started working:

[code]

[2018-02-02 11:45] mumoshu commented on #141
Turns out you'd better use the startup-script-daemonset approach than initContainers because the latter doesn't survive node restarts. See https://github.com/pires/kubernetes-elasticsearch-cluster/issues/85

[2018-02-02 12:14] mumoshu opened #143 "helm chart: typo in values.yaml results in null `data-volume-size` by default"
Without explicitly passing `--set volumeSize=1Gi` I end up with every statefulset failing to create pods saying:

[code]

Reading the chart, there is an inconsistency between values.yaml and cluster.yaml.
[`dataVolumeSize: 1Gi` is in values.yaml](https://github.com/upmc-enterprises/elasticsearch-operator/blob/master/charts/elasticsearch/values.yaml#L12) but the template refers to `Values.volumeSiz

[2018-02-02 12:24] mumoshu opened #144 "helm chart: Invalid volumeType`standard` is set by default"
In Kubernetes: v1.9.1

Perhaps this became a problem since a certain version of Kubernetes?
Anyway, all the statefulsets seem to fail saying:

[code]

Indeed there is no such a volume type named `standard` as of today in [k8s aws cloudprovider](https://github.com/kubernetes/kubernetes/blob/a183fae672d81b0daffb15352c2eb95596d60aa3/pkg/cloudprovider/providers/aws/aws.go#L387).

Probably we'd better

[2018-02-02 12:28] mumoshu commented on #144
I guess perhaps in other cloudprovider like GCE there is a volume type named such?
However, given we already have AWS AZ names in the `zones` property of `values.yaml` by default, I guess we can just default to an volume type which exists in AWS here, too.

[2018-02-09 14:46] #137 closed

[2018-02-09 14:46] #140 closed

[2018-02-09 14:46] #143 closed

[2018-02-09 14:46] #144 closed

[2018-02-09 14:49] stevesloka commented on #139
@wadeholler is it just for visibility? This image is one that I'm not sure should be overridden by users since it's a "system" level container. We're going to be switching to a daemonset soon, but will still use this image.

Would a better call-out in the readme / release notes help?

[2018-02-14 15:18] thomascooper opened #148 "How safe is the data if I change disk size and re-deploy"
Team,

I need some advice, I have deployed a 7 node cluster (2 clients, 2 masters, 3 data nodes). My data-volume-size is 30Gi, after loading our initial data set, my store.size is 41gb and pri.store.size is 21gb, I am not sure what the best approach is here going forward, in order to not risk losing the my data. we are using GKE so we do not have snapshot enabled. Here are the 3 options i see

1.)

[2018-02-15 16:47] stevesloka commented on #148
Hey @thomascooper I think your best bet is to redeploy. Ideally, there would be a way to spin up larger data nodes and be able to roll through those and migrate your data but today do not have the capability for that today.

I am working on GKE snapshots, but still in progress.

[2018-02-17 01:54] stevesloka commented on #141
Fixes in #149

[2018-02-17 01:54] #141 closed

[2018-02-17 01:56] stevesloka commented on #148
Let me know if you have any further questions, I hope to get this operator to a place where it will handle these bits for you, that's really the point. Please re-open if you have further questions.

[2018-02-17 01:56] #148 closed

[2018-02-17 01:57] stevesloka commented on #138
Fixed in #149

[2018-02-17 01:57] #138 closed

[2018-02-17 01:57] stevesloka commented on #116
I think this should be resolved now, please re-open if not.

[2018-02-17 01:57] #116 closed

[2018-02-18 19:23] DimaBogdan-phie opened #151 ""Could not get version from api server""
Hello!

Could you tell me please, what am I doing wrong?

I have 2 node cluster on CentOS 7 where **kubernetes** has been deployed via **kubespray**.

[code]

When I try to deploy operator, I get:
[code]

![image](https://user-images.githubusercontent.com/33295616/36355780-87ad1c5c-14f9-11e8-9009-9906661be3c5.png)
![image](https://user-images.githubusercontent.com/33295616/36355845-a4e1b43a-14fa-1

[2018-02-19 19:13] stevesloka commented on #151
One thing is weird that your nodes have different versions. Also, looks like node02 cannot talk to API server, is that the node the operator deployed to?

[2018-02-20 22:33] DimaBogdan-phie commented on #151
Thank you!
It was actually a version issue.

[2018-02-22 05:24] Shifter2600 opened #154 "PersistentVolumeClaim is not bound: "es-data-es-data-example-es-cluster-hostpath-storage-0""
Kubernetes 1.9

I used the examples as listed in master
controller.yaml
example-es-cluster-hostpath.yaml
hostpath-sc.yaml
as is
I am getting this error.
PersistentVolumeClaim is not bound: "es-data-es-data-example-es-cluster-hostpath-storage-0"
Is the example missing another YAML for the PVC?

[2018-02-22 05:38] Shifter2600 commented on #154
I think I am onto something looks like hostpath is Will not work in a multinode environment.
I have a baremetal 5 node cluster. I guess there is no way to use the local drives in my case.
Would you suggest a NSF Setup and if so could you let me know what would need to change in the es-cluster-??? and what a new nsf-sc.yaml would look like? Thanks

[2018-02-22 17:15] Shifter2600 commented on #154
After some heavy googling I have came to this as a possible solution for local store for Baremetal Clusters Released in Kubernetes 1.9..Volume Topology-aware Scheduling

https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/volume-topology-scheduling.md

This looks promising for the issue of local PV for multi node K8's  Would the current operator take into acco

[2018-02-22 18:59] #151 closed

[2018-02-22 19:46] Shifter2600 commented on #154
Thanks, Ya I am currently looking at the NSF vol option but the issue will be performance. Where as the solution in the link would allow the local storage in Multi Node Clusters.

[2018-02-24 07:27] Shifter2600 commented on #138
The namespace is wrong it needed to be operator in the apiVersion: extensions/v1beta1 above.
Also Thx this worked.
I was able to get my cluster going now using rook.
I can confirm the example controller with this script added and the rook example is working on Rancher 2.0 tech preview on Kubernetes 1.9

[2018-03-06 10:10] vpm-bradleyhession opened #157 "Cluster Authentication"
Any way to enable authentication for a cluster produced by the operator?

I notice Search Guard is installed for SSL. SearchGuard has native support for many auth providers - https://docs.search-guard.com/latest/authentication-authorization

How can I enable/add these settings to a cluster?

Thanks,

[2018-03-07 20:22] Shifter2600 opened #158 "app labels and service names"
I have been struggling now for a month to get a loadbalancer connected to Kibana and Elasticsearch.
Any help would be appreciated.
I am running Kubernetes on Rancher 2.0 on baremetal I have everything green and running fine locally but I can't get a LB to connect to the services so I can access them externally.

The only hang up is what does the LB service need to be in order to connect to the Ser

[2018-03-07 20:26] pieterlange commented on #157
With [this announcement](https://www.elastic.co/blog/doubling-down-on-open), expect to see more happening in this space in the (near?) future.

elasticsearch-operator looks like a perfect fit to orchestrate all of this

[2018-03-07 20:51] stevesloka commented on #157
@vpm-bradleyhession there are ways to enable auth, just need to document. Auth adds much bigger issues since there are so many iterations to how you could do it and what way to auth. I'll look to add one to get it started.

@pieterlange yup that's exciting news! Right now the current components will do auth, so not sure we we'd want to swap out or not, will have to dig in to see.

[2018-03-07 20:51] stevesloka commented on #154
Awesome! Let me know if you need more help or have questions, just re-open. =)

[2018-03-07 20:51] #154 closed

[2018-03-07 20:53] stevesloka commented on #158
You'll want to use the service targeting the client nodes, they are your entry points.

I've setup load balancers before without issue. Can you access Elastic or Kibana via services inside the cluster ok?

[2018-03-07 22:40] Shifter2600 commented on #158
I believe they are running but I am unable to Curl or connect to them locally because of the Rancher/K8s setup. I have 5 nodes all running RancherOS.... I did check the Logs and both Kiabana and ES in the logs look like they are UP.
kubectl describe pods/es-client-example-es-cluster-f55fc74d7-v45tn -n operator
does show state of running
kubectl describe pods/kibana-example-es-cluster-59c576bd69-9c

[2018-03-08 11:31] vpm-bradleyhession commented on #157
For now I got around this by using a nginx ingress controller with basic auth. This works fine for now, but would be really nice to have the operator natively support authentication targets.

Thanks,

[2018-03-08 18:19] Shifter2600 commented on #158
I feel I am getting closer to a solution. For the LoadBalancer service. Where does it need to be and what selector do I need to use based on what the Operator is using for Labels?

[2018-03-08 18:33] stevesloka commented on #158
The service is already created for you by the operator. Mine is called `elasticsearch-example-es-cluster` since my cluster name is `example`.

The problem you may be looking for is that (by default) the type is `ClusterIP`. You'll need to manually for now update the type to `NodePort` or `LoadBalancer` if you were on a cloud.

[2018-03-13 13:31] ekarlso opened #159 "Ingress using Traefil"
How can we configure traefik ln k8s to connect to kibana thst has https?

[2018-03-13 18:54] pieterlange commented on #159
Not supported natively in the operator yet, but you can manually update the kibana deployment with the following environment variable in order to front it with an SSL offloading loadbalancer:
[code]

[2018-03-15 17:45] apenney commented on #4
@stevesloka Any news on if any work has happened here?  We're about to pick back up figuring out how to run ES 6.x in GKE.  :)

[2018-03-15 23:38] kfox1111 opened #160 "name override"
Ran into an issue with .Chart.Name when nesting the chart. The name can contain capitals and container names don't like that. Could you apply something like the following please?

--- deployment.yaml	2018-03-15 16:34:31.710789847 -0700
+++ deployment.yaml	2018-03-15 16:34:57.600989386 -0700
@@ -15,7 +15,7 @@
         release: {{ .Release.Name }}
     spec:
       containers:
-      - name: {{ .Cha

[2018-03-17 16:29] kfox1111 commented on #157
@pieterlange :
"Is X-Pack now Open Source?

Open Source licensing maintains a strict definition from the Open Source Initiative (OSI).

As of 6.3, the X-Pack code will be opened under an Elastic EULA. However, it will not be ‘Open Source’ as it will not be covered by an OSI approved license. The interaction model for open X-Pack will be identical to the open source Elastic Stack, including the abi

[2018-03-18 21:07] chandu1221 commented on #139
@stevesloka I am facing the similar issue of pulling busybox image from daemonset.

![image](https://user-images.githubusercontent.com/7453460/37570771-5589cc34-2aca-11e8-86c8-18f8e59827fd.png)

We do pull images only from private registries and @wadeholler 's suggestion works well for our scenarios too. Also it would be great if namespace can be configurable instead of defaulting.

[2018-03-19 09:35] pieterlange commented on #139
It's useful when you don't let your cluster connect directly to the internet and/or run arbitrary docker hub images. :+1:

Please open a separate issue for that with a bigger description @chandu1221

[2018-03-19 16:30] stevesloka commented on #157
What does X-Pack do over the current implementation with SearchGuard? We can enable auth with SearchGuard, it's just harder to automate, I need to put together a guide.

[2018-03-19 16:31] stevesloka commented on #139
Ahh I understand now, we can make this a parameter.

[2018-03-19 16:33] stevesloka commented on #4
Hey @apenney, I've got some work in progress, just need to finish it up.

[2018-03-19 16:44] pieterlange commented on #157
The licensing remains an issue indeed, thanks for pointing that out @kfox1111.

The benefit of using X-Pack would be to follow the implementations by the vendor but it looks like they're not fully adopting the FLOSS philosophy - security is still a paid addon.

[2018-03-20 19:06] apenney commented on #4
@stevesloka Awesome!  We're happy to help test/act as guinea pigs, and I just hired someone on the team that actually knows golang so we can hopefully help contribute back bugfixes and help out as we get up to speed.

[2018-03-20 20:47] wadeholler commented on #139
@stevesloka - my apologies for the delay.  other folks are spot on.  At our site we don't connect / pull from public registry.  Thank you!

[2018-03-23 09:05] vgkowski commented on #17
I revive this issue as I would like to implement a global update of ES spec including the versioning and everything that requires a node restart.
After the operator code review, it seems I will need to do a quite big refactor so I am proposing a solution for opinions:
1. Because the ES cluster is implemented over 3 K8S objects (2 sts and 1 dep) we will need to evaluate the need for update/upgrade

[2018-03-23 13:51] stevesloka commented on #17
Hey @vgkowski! Thanks for the interest! I think I'm on board for most of what you have proposed. Can you provide any more detail for the need for 2 object (e.g. k8s & es specs)?

Also, the big thing I haven't done yet that needs done for any updgrade or changes to the cluster is implemented health checks. We need to be able to monitor the status of the cluster so we can perform reboots, upgrades,

[2018-03-26 16:15] vgkowski commented on #17
I will try to split the effort into several PR starting with the health check.
Regarding the need for 2 objects, I thought it was more readable for users and clear to identify that changing ES specs would rolling restart the cluster. It would also maybe improve code readability and  help checking the need for rolling upgrade ?

[2018-03-26 21:01] pieterlange commented on #17
Only when necessary. Rather have manual updates now (including moving data between clusters) than full cluster reboots during upgrades - it's a dangerous process.

[2018-03-27 23:14] andreimc opened #163 "Elastic search master node volume size"
Basically the

  data-volume-size gets used in the masters as well.

This is a huge waster since the masters don't actually need that much persistent disk, since they don't store a lot of data.

This should be configured separately so should JVM options and resources.

Probably the best thing to do is go something like:
[code]

this sort of stuff would be a lot more flexible

[2018-03-28 01:17] stevesloka commented on #163
Good point! We can split out that to have an additional param to specify the size.

[2018-03-28 01:18] stevesloka commented on #158
Hey @Shifter2600 is this still an issue for you?

[2018-03-29 19:43] SEJeff opened #165 "Error when a new operator pod starts"
[code]

[2018-03-29 20:15] wjimenez5271 opened #166 "services created are different than what's on README"
I seem to be missing the "elasticsearch" service that is listed on the readme towards the end where you document the expected results after deploying. It seems the operator is creating a different service that listens on port `9200` called `elasticsearch-es-cluster`:

[code]

I do happen to already have a service called "elasticsearch" in another namespace (not related to this operator), but I did

[2018-03-29 20:15] wjimenez5271 commented on #166
Also may be worth noting that I specified the operator to only deploy to one AWS AZ:

[code]

[2018-03-30 13:08] stevesloka commented on #166
Hey @wjimenez5271, there's a disconnect in the readme. The ES cluster service is `elasticsearch` + `<cluster-Name` so in your case `elasticsearch-es-cluster` is the service you'd want to use to access the cluster.

[2018-03-30 17:51] wjimenez5271 commented on #166
Thanks for the quick response, I created a PR for the README, hope that helps

[2018-04-03 20:42] wjimenez5271 opened #169 "storage-class is ignored"
given the following keys in my `ElasticsearchCluster` resource:

[code]

It seems the operator ignores this value and tries to create its own SC with the name "us-west-2":

[code]

Not sure if I am missing a setting somewhere...

[2018-04-03 20:45] wjimenez5271 commented on #169
Figured it out, the `zones` field needs to be set to `[]` like so
[code]

[2018-04-03 23:00] wjimenez5271 opened #170 "ES client pods crash due to read only filesystem"
Suddenly all my es client pods are failing to start and the logs contain the following errors:

[code]

[2018-04-04 05:08] wjimenez5271 opened #171 "Process for changing StorageClass without loosing data"
Is there a known path to change the StorageClass without loosing the data? For instance, say we discover our workload needs more IOPS and we want to switch to a higher throughput data store, can we do so without loosing our data?

Perhaps this is outside the scope of what can be done with an abstract storage class, but wanted to ask just in case. Thanks!

[2018-04-05 12:00] gianrubio commented on #99
#161 fixed this issue

[2018-04-09 14:10] gianrubio opened #176 "create-snapshot-repository should run a job and not cronjob"
The current create-snapshot-repository cronjob is running every 30 minutes, it should run only once.

## ES logs

[code]

## Job log
[code]

[2018-04-09 14:13] stevesloka commented on #176
Would be nice to have a check, the reason it runs over and over is if you spin up the cluster, but don't have things setup correctly, we had issues where snapshots wouldn't work since the the repository didn't exist (since it failed on first run)

[2018-04-09 17:00] montyz opened #177 "Restore from snapshot?"
The readme mentions

but I don't see instructions on how to restore from a snapshot. Does the operator get involved in the restore operation, or is the standard practice to first bring up an empty cluster, and then restore it with a curl command?

[2018-04-10 07:29] gianrubio commented on #176
Actually this started after I applied my patch https://github.com/upmc-enterprises/elasticsearch-cron/pull/3 to cronjob. That means this was already happening before but was hidden by the wrong exit status.

[2018-04-10 15:19] gianrubio commented on #163
I started a refactory in `ClusterSpec` to accept this arguments, I'll shoot a PR in few days

[2018-04-10 19:21] SEJeff opened #178 "Allow not setting vm.max_map_count"
We set `vm.max_map_count` via config management on all of our kubelets to 1000000, so the setting here is simply unnecessary.

[2018-04-10 20:20] SEJeff opened #179 "Allow k8s cluster dns names other than cluster.local"
We customize the domain of our k8s clusters from something other than `cluster.local` because we advertise our cluster ips via bgp (using kube-router). Each cluster has it's own domain.

the elasticsearch operator hardcodes `cluster.local` [here](https://github.com/upmc-enterprises/elasticsearch-operator/blob/3f29696b0de8208d7897f7bc1918640d08b693d6/pkg/k8sutil/services.go#L87), [here](https://git

[2018-04-11 02:40] stevesloka commented on #179
Awesome, that's doable and makes sense.

[2018-04-11 02:41] stevesloka commented on #178
Ahh interesting, we can add a flag to make that optional.

[2018-04-11 02:43] stevesloka commented on #177
Thanks @pieterlange! As mentioned right now the idea is to restore as mentioned previously manually.

If interested in the CRD path, please re-open & post some use cases to help prioritize. Thanks!

[2018-04-11 02:43] #177 closed

[2018-04-11 02:43] #166 closed

[2018-04-11 23:08] montyz opened #180 "debugging snapshots"
I set up snapshots to be run hourly, but nothing is showing up in my s3 bucket. I did apply the permissions like the instructions said. I don't see anything in the logs for the pods regarding s3. Where would I look to further debug this?

[2018-04-12 14:24] gianrubio commented on #180
What version are you using? ELK v6.0 had changed apis had requiring changes in the elasticsearch-cron image, I addressed a PR #174 to fix that.

[2018-04-12 16:16] montyz commented on #180
Ah, I didn't realize I needed to look at the operator logs. Yeah, I see the messages there you described in #174.

[2018-04-12 16:16] #180 closed

[2018-04-12 20:05] thearrow commented on #170
seeing the same issue

[2018-04-20 03:43] wjimenez5271 commented on #170
Looks like my issue wasn't related to a read only file system but was because my memory limits in the `Elasticsearch` resource were too close to the -Xmx and -Xms settings I was setting so the clients were getting killed when they tried to allocate memory. Make sure that there is some headroom between what's defined in the `java-options` key and the section:

[code]

[2018-04-23 11:05] cyrillk opened #182 "How to expose resources created with the `operator` helm chart"
How can I expose resources created with the `operator` helm charts (on AWS) ?

[code]

Services and load balancers has been created but do not seem to work properly. Connection just hangs and brakes on timeout then.

[code]

What could be wrong here? Am I missing something? Thank you.

[2018-04-23 16:54] pieterlange commented on #182
First of all i'd recommend exposing these type of services through Ingress. Which takes some (undocumented) effort, but it's probably different for each implementation anyway.

But if you do want to directly expose your ES/kibana access (bad idea) check if your expose rules actually selected the right backends. `kubectl describe` and `kubectl get ep` should get you somewhere.

[2018-04-24 07:33] cyrillk commented on #182
Thank you! I'll have a look.

[2018-04-24 20:04] etspaceman opened #183 "New Release?"
Hey There -

Was hoping to leverage some of your changes made in the master branch with some testing. Unfortunately it looks like there's no "latest" tag in dockerhub for me to use. I attempted to fork/build myself with little luck.

Would it be possible to release a new tag or expose a latest tag?

[2018-04-25 12:49] stevesloka commented on #183
Hey @etspaceman yes we're do for a release. I know @komljen is testing one more PR and once that's complete we'll probably merge that and then cut it.

[2018-04-25 17:40] gianrubio opened #184 "v2 proposal"
# v2 proposal

## Motivation
The current definition of object like nodes, clients and addons (kibana or cerebro) didn't have the ability to customise specific objects. For instance the field `resources` is applied for master, nodes and clients, however clients doesn't need the same ammount of cpu and memory from master, another examples are: `java-options`,`volume-size` and `regions`. Besides that

[2018-04-25 17:44] gianrubio commented on #182
the Elasticsearch chart doesn't support ingress creation,  a PR adding this feature are very welcome

[2018-04-26 07:46] komljen commented on #183
Yeah, this is the PR we want in new release https://github.com/upmc-enterprises/elasticsearch-operator/pull/175

[2018-04-26 07:50] komljen commented on #182
As @pieterlange mentioned exposing services without any authentication method is a really bad idea.

[2018-04-26 08:32] gianrubio commented on #182
@komljen exposing an ingress using internal load balancer + [oauth proxy](https://github.com/kubernetes/ingress-nginx/blob/27c863085e2503e5f3249b596f24529fc2488baa/docs/examples/external-auth/README.md) for services like kibana is a must. A note in the helm docs explaining how to do this will be required

[2018-04-26 13:50] komljen commented on #182
Yeah, I completely agree on that :)

[2018-04-26 23:47] wjimenez5271 opened #186 "Backup cronjob not being created"
I'm not sure what I am doing wrong but for some reason the backup cronjob isn't being created, despite the `scheduler-enabled` being set to "true". When I do

$ kubectl get cronjob
No resources found.

Also I noticed in the logs:

[code]

[2018-04-27 12:18] gianrubio commented on #186
#174 will fix this issue

[2018-04-27 15:26] stevesloka commented on #186
This should be resolved now in latest release

[2018-04-27 15:26] #186 closed

[2018-04-27 15:26] stevesloka commented on #183
Release is out! v0.0.12

[2018-04-27 15:26] #183 closed

[2018-04-30 17:48] wjimenez5271 opened #188 "CronJob not being created properly with multiple ElasticsearchClusters with same name"
Given I have two `ElasticsearchCluster` resources, in different namespaces but within the same cluster, and both those resources have the same name ("mycluster"), it seems that the operator creates two cronjobs for backup in one instead of one job for each:

[code]

Do I need to namespace the value of `metadata.name` for each instance of `ElasticsearchCluster` even in different namespaces?

[2018-04-30 21:11] wjimenez5271 opened #189 "backup cronjob never never completes"
Looks like the cronjob that does snapshots is getting stuck somewhere:

[code]

Its been in a running state for two days with only the above in the logs

[2018-05-02 23:22] splisson-altair opened #190 "Statefulset logic for useSSL is incorrect"
Cluster spec in processor have correct logic. Statefulset creation in k8sutil should not apply logic (the current one there is wrong because it defaults to non ssl)

[2018-05-02 23:30] splisson-altair opened #192 "SSL certs should not be created and mounted when not using SSL"

[2018-05-03 00:09] splisson-altair commented on #192
working on it

[2018-05-03 13:15] Sneko commented on #169
Same error because I was setuping zones+storageClass 👎

`helm install --name=elasticsearch es-operator/elasticsearch --set kibana.enabled=True --set cerebro.enabled=True --set storage.class=slow --set zones="{us-central1-a,us-central1-b}" --namespace logging`

I was just needed storageClass since zones are defined inside:

`helm install --name=elasticsearch es-operator/elasticsearch --set kibana.e

[2018-05-03 14:07] Sneko opened #194 "Cerebro error: [ConnectException: General SSLEngine problem]"
Hi!

I just made the setup of a ElasticSearchCluster but when I'm trying to access Cerebro, it asks me to provide the host address. When I try the both following solutions I get an error:
- Select "es servers" host
- Input "https://elasticsearch-elasticsearch-cluster:9200"

 `[[37minfo[0m] play.api.Play - Application started (Prod)
[[37minfo[0m] p.c.s.NettyServer - Listening for HTTP on /0:0:0

[2018-05-03 14:54] Sneko commented on #194
After accessing Kibana it show me that my ES cluster was unstable:
`
plugin:elasticsearch@6.1.3 | Unable to connect to Elasticsearch at https://elasticsearch-elasticsearch-cluster:9200.
`

I took a look at its logs and saw that:
`[2018-05-03T14:35:17,391][WARN ][o.e.d.z.ZenDiscovery     ] [987d11ba-6aef-4dc9-8ec4-e45ad6966d91] not enough master nodes discovered during pinging (found [[]], but need

[2018-05-07 16:08] montyz opened #196 "Encrypting volumes"
It'd be great if I could specify that the es storage be encrypted.

[2018-05-08 03:35] peterloron commented on #196
You can use this:
`kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: enc-ebs-gp2
provisioner: kubernetes.io/aws-ebs
parameters:
  type: gp2
  fsType: ext4
  encrypted: "true"`

[2018-05-08 08:47] ehvattum opened #197 "The sysctl-deamonset is run in "default" namespace, not same as the operator."
https://github.com/upmc-enterprises/elasticsearch-operator/blob/b3a11249593f5118e83cd92b10b72841c5e87dce/pkg/controller/controller.go#L74

When the operator is deployed with helm, the sysctl-deamonset is started in "default" namespace.
This deamonset is also not receiving the usual helm-metadata, tying the deployment of this deamonset to the helm-release.

Tearing the helm-release down does not te

[2018-05-09 15:29] montyz commented on #196
So far I tried creating a default storage class that is encrypted, as well as specifying an explicit storage class:
[code]

In both cases the operator creates its own storage classes named `us-west-*` and uses them:

[code]

Also, when I delete the cluster, the pvcs remain behind.

[2018-05-09 16:03] montyz commented on #196
I was able to get this working by setting up my own storage classes named `us-west-2*` before deploying the cluster. I also had to manually delete the `pvc`s and `pv`s before that would work. They aren't deleted when the cluster is deleted and were reused.

[2018-05-10 15:19] cyrillk opened #198 "Error in init(): daemonsets.extensions \"elasticsearch-operator-sysctl\" already exists"
I used to have `elasticsearch-operator` in the cluster some time ago. Today I've tried to deploy it again from the helm chart but it didn't work for me.

### Helm command

[code]

### Pod logs

__"Error in init(): daemonsets.extensions \"elasticsearch-operator-sysctl\" already exists"__ doesn't make sense as `elasticsearch-operator-sysctl` was created by the chart itself.

[code]

[2018-05-10 19:34] tmirks commented on #198
@cyrillk Pretty sure it's because of #197; check to see if the pod is still running in your `default` namespace. This may only affect helm deployments, I'm going to experiment.

[2018-05-10 19:48] tmirks commented on #197
This is not limited to deployments with helm, also a problem with regular `kubectl` deployments.

Is this intended behaviour? Should the daemonset run in the `default` namespace?

[2018-05-11 03:42] kskewes commented on #197
I have two ...sysctl.
I believe this has come about after doing a `helm delete --purge elasticsearch-operator` followed by a `helm install --name elasticsearch-operator` again.

[2018-05-11 07:05] gianrubio commented on #189
@wjimenez5271 What the version of your es operator?

[2018-05-11 17:24] marioduarte opened #199 "Readiness/Liveness probe of kibana not respecting use-ssl=false"
I am configuring my elasticsearch cluster with:

    use-ssl: false

Everything starts correct with the exception of Kibana, which never gets into a Ready state.
When describing the kibana es-cluster pod I see:

    Liveness:       http-get https://:5601/ delay=1s timeout=30s period=10s #success=1 #failure=10
    Readiness:      http-get https://:5601/ delay=1s timeout=30s period=10s #success=1 #f

[2018-05-12 07:51] ron1 opened #200 "Enable management via CoreOS Operator Lifecycle Manager"
The Elasticsearch Operator should integrate with the Operator Lifecycle Manager, a component of the CoreOS Operator Framework (see https://github.com/operator-framework/operator-lifecycle-manager for details).

[2018-05-13 14:16] ehvattum commented on #197
@kskewes that is also a concern. If helm is not the one creatnig all resources, it can not take them down, since it depends on labels on the resources to identify what is deployed in a release.
Moving the creation of the deamonset to the chart instead of it being created by the controller should releive this issue.

[2018-05-13 14:36] stevesloka commented on #197
Helm shouldn't do the creation, if you update the crd then the operator should update as well. I can fix the namespce problem. Also should maybe remove the helm chart, I added a nce folks wanted but seems like we have many issues due. The operator is designed to manage everything, and only needs 2 yaml to deploy.

[2018-05-13 14:39] stevesloka commented on #196
There is an open issue to fix which will get merged soon. It got lost in a big refactor a while back.

[2018-05-13 14:42] stevesloka commented on #184
Should we split objects out? So create a master crd and client crd? Not sure if that is too verbose, just a pattern I've seen I'm other projects.

[2018-05-13 15:03] stevesloka commented on #200
Do you have to use the operator kit to utilize? Is there an interface I can implement?

[2018-05-13 21:15] pieterlange commented on #200
Overall i think it's worth it to standardize on the operator framework but it probably means a fair bit of refactoring.

[2018-05-14 09:47] gianrubio commented on #184
Yes, make sense to me to split out. Should we split master and client or all the objects?

Ex.
[code]

[2018-05-14 09:54] gianrubio commented on #197
Just to make it clear, the helm chart didn't create the sysctl

Besides the issue of the daemonset created in the default namespace, it's missing a deletion of the ds before the crd is deleted

[2018-05-18 13:17] t0ffel commented on #184
Hi, would it be possible to split the components external to Elasticsearch server(Kibana/Cerebro) to separate CRDs, but not split core Elasticsearch components master/client/data?

My logic here is that Elasticsearch cluster needs to be treated as a single entity. separate master/data CRD won't tell much about the cluster.

/cc ewolintez @jcantrill @portante @richm

[2018-05-21 23:34] neurot1cal opened #204 "Disable TLS on ES while using 6.1.3_0"
Is there a way currently to disable TLS on the Elasticsearch endpoint only, while using the most recent image? I see some older issues and threads saying this is possible using some older images - would like to avoid using that.

I'm terminating TLS on my Ingress, and would love to leave communication from Fluentd/Fluentbit to HTTP only within the cluster. Sorry if I'm missing something obvious so

[2018-05-23 02:19] hagmonk opened #207 "Resources should be created with a label that links them to the controller"
I tried using the operator in my cluster, and was stumped by the following crash:

[code]

It seems that (to me, a non-Go programmer), the problem starts here in [k8sutil.go#L289](https://github.com/upmc-enterprises/elasticsearch-operator/blob/master/pkg/k8sutil/k8sutil.go#L289). Updates are followed for any pod that has the label `"role=data"`, which is kind of a broad set of labels.

In particul

[2018-05-23 11:31] #199 closed

[2018-05-23 13:28] stevesloka commented on #184
I think we should not split them out into separate resources but keep them together like you have in the current spec. Potentially we could do that with snapshots which might make that a bit cleaner, but for not that doesn't buy us much.

- For `NodeSelector` & `Zones` should we combine those into the same struct? They sort of have a similar effect by spreading work out across nodes
- UseSSL I thi

[2018-05-23 14:09] jcantrill commented on #184
@t0ffel How does this jive with your proposed operator changes?  We should either actively contribute to this proposal now or starting pushing the ideas we have elsewhere

[2018-05-23 14:14] stevesloka commented on #184
To be more clear @jcantrill, what I meant by "not splitting out" is having a separate CRD for each component of the cluster.

[2018-05-23 14:17] jcantrill commented on #184
@stevesloka I wasn't really questioning your suggestions but more advising @t0ffel that we (openshift team) need to determine if the direction of this operator meets our needs and we should participate here or go forth on our own.  I dont know if there is enough detail in this issue to make that determination but we have some aggressive timelines we wish to meet and I'd like to see things progress

[2018-05-23 14:23] stevesloka commented on #184
Sure thing @jcantrill, I just reread my earlier comments and thought they weren't super clear. =)

[2018-05-23 14:40] stevesloka commented on #204
Hey @neurot1cal I think we've got this all fixed up right now in head. I need to make a job to build a `:master` tag so you can test latest changes easier.

[2018-05-23 14:40] stevesloka commented on #207
Yes excellent suggestion @hagmonk

[2018-05-23 16:28] stevesloka commented on #204
Ok `:master` tags for the operator are getting built automatically now. Please give it a try and let me know how it goes.

[2018-05-23 16:39] neurot1cal commented on #204
@stevesloka Strange... Getting crashloop backoff when trying to start up the elasticsearch-operator container;

[code]

operator-values.yaml
[code]

[code]

[2018-05-23 16:45] neurot1cal commented on #204
Durp - Left our rbac `enabled: true`. :)

[2018-05-23 17:00] neurot1cal commented on #204
@stevesloka es-client pods are in CrashLoopBackOff;

![image](https://user-images.githubusercontent.com/11523744/40439527-06493770-5e70-11e8-9470-3bf146cf6b63.png)

[2018-05-23 21:57] neurot1cal commented on #204
@stevesloka Things are spun up now, but it looks like it's still using HTTPS for 9200 on the client nodes;

![image](https://user-images.githubusercontent.com/11523744/40445286-8c6f9e92-5e80-11e8-9ccf-03b217f648b2.png)

![image](https://user-images.githubusercontent.com/11523744/40445274-856fd85a-5e80-11e8-9a03-485a3b504f28.png)

![image](https://user-images.githubusercontent.com/11523744/40445306

[2018-05-24 14:55] mixpix3ls commented on #197
@stevesloka Do you have the fix in a branch somewhere? Would be great to see how it was done.

[2018-05-24 16:55] wjimenez5271 commented on #189
@gianrubio sorry for the late reply. `upmcenterprises/elasticsearch-operator:0.0.12`

[2018-05-25 02:52] #192 closed

[2018-05-25 03:07] stevesloka commented on #204
Can you test again? I just pushed another PR.

[2018-05-25 03:38] neurot1cal commented on #204
Same deal. Does my chart and install sequence look right?

![image](https://user-images.githubusercontent.com/11523744/40524947-44c6f4b0-5f92-11e8-9f9d-8295b8823b63.png)

[code]

![image](https://user-images.githubusercontent.com/11523744/40524969-5d7fb8ac-5f92-11e8-89f2-c0f934f1999b.png)

![image](https://user-images.githubusercontent.com/11523744/40524976-62ba11e6-5f92-11e8-9a58-2a16cda4d821.png

[2018-05-25 13:27] gianrubio commented on #189
Check if you are using the[ latest cronjob ](https://github.com/upmc-enterprises/elasticsearch-operator/blob/master/example/example-es-cluster.yaml#L23), also paste the logs from the master node during the snapshot execution

[2018-05-25 13:30] gianrubio opened #211 "Don't create a PVC for master nodes"
I noticed that master nodes are allocating a pvc volume, however they don't require this volume because there's no data stored there.

[2018-05-25 13:33] gianrubio commented on #204
Did you delete all the objects + elasticsearch crd before installing it again? Seems like ssl configuration are cached somewhere

[2018-05-25 13:34] gianrubio commented on #207
This could be covered in v2 spec #184

[2018-05-25 14:29] neurot1cal commented on #204
@gianrubio Good catch, `helm delete --purge` doesnt actually delete the CRD. Trying again...

[2018-05-25 14:30] stevesloka commented on #204
also can you take helm out of the picture? Just create the operator and then the crd to test.

[2018-05-25 14:57] neurot1cal commented on #204
@stevesloka Ok. Still not working with helm. Here's my approach, I'm creating the controller and then applying the es-cluster-azure.yaml in /examples and it's not building the clusters. Any ideas?

controller.yaml
[code]

es-cluster-azure.yaml
[code]

[code]

[code]

[2018-05-25 15:03] stevesloka commented on #204
What do the logs on the operator look like?

[2018-05-25 15:45] wjimenez5271 commented on #189
Interesting, I actually don't even have that key in my resource

On Fri, May 25, 2018, 6:28 AM Giancarlo Rubio <notifications@github.com>
wrote:

[2018-05-25 16:17] neurot1cal commented on #204
I was using `network-host: []` instead of `network-host: 0.0.0.0`. Fixed and it appears to be creating now;

[code]

[2018-05-25 18:04] neurot1cal commented on #204
@stevesloka Looks like it's respecting `use-ssl false` now;
[code]

Master and data are coming up, but client is in a crashloop;

[code]

[code]

Not able to get any logs from `k logs es-client-es-cluster-848878dbf8-fxw8j`. Any ideas?

[2018-05-25 18:18] neurot1cal commented on #204
Working now!

[code]

[2018-05-25 18:23] neurot1cal commented on #204
@stevesloka Cerebro and Kibana are failing to start now, looks like due to "es-certs-es-cluster" secret not being found;

[code]

[2018-05-25 19:56] stevesloka commented on #204
grr ok, can make a change for that. Sorry for all the back and forth here.

[2018-05-25 20:50] neurot1cal commented on #204
@stevesloka No worries. We need X-Pack here, so might need to go with a different chart. How hard would that be to add in? And allow for Ingress annotations so I can use Envoy. :)

[2018-05-30 22:22] kskewes opened #214 "Anti-affinity after pod eviction (crashed node) not adhered to"
## Steps taken to Provision
1. Helm chart deploy ES operator on 3 node cluster
2. Helm chart deploy ES cluster on same 3 node cluster with 3 data pods specified
3. Data pods (D1,D2,D3) deployed onto separate nodes (N1,N2,N3 = good).

## Steps taken on node crash.
4. Compute node (N2) crashed.
5. Data pod D2 recreated automatically on N3.  (Good, only 2 compute nodes at this point so no other optio

[2018-05-31 17:03] mixpix3ls opened #216 "Unable to delete pv and pvcs"
After attempting to `kubectl delete -f example-cluster.yaml`, the operator logs indicate an exception as follows (deploying to GKE):

[code]

[2018-06-01 12:54] gianrubio commented on #184
Agree, I'd propose to use k8s nomenclature so rather than the default name zones use  `NodeSelector`, wdyt?

Agree, on my proposal it's a part of `ClusterSpec`

Agree, I'm gonna write what are the defaults

For instance when you use [kube-iam](http://github.com/jtblin/kube2iam) you should specify annotations for pod to assume IAM roles, it's required for master and data nodes but not for client no

[2018-06-03 12:57] tcstapas opened #217 "AWS access Kibana dashboard from my browser (TLS)"
Since operator makes Kubernete cluster private, no way I can access from outside. I understand port forward is a solution but it can't be permanent solution.
That's why I have added ngnix ingress load balancer with type Load balancer so that it can create AWS load balancer. As certificate (es-certs-example-es-cluster) already created by operator, I have used the same in ingress yaml file
But unfor

[2018-06-04 13:46] stevesloka commented on #216
Hmm seems like you've got a hard exception. Could you post the CRD yaml you used to create the cluster?

[2018-06-04 13:47] stevesloka commented on #211
Master nodes should use persistent volumes, they need to persist the `/data` directory: https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-node.html#master-node

[2018-06-04 13:47] #211 closed

[2018-06-04 13:49] gianrubio commented on #217
if you're using nginx-ingress you should add the secure-backend annotation to avoid this issue

```  nginx.ingress.kubernetes.io/secure-backends: "true" ```

[2018-06-04 13:50] stevesloka commented on #214
The idea of the affinity is to try and separate the pods apart so you don't end up with everything on a single node. There's no specific logic in the operator to manage this, so we'll have to dig into the k8s logic to see why you're seeing that behavior.

[2018-06-04 14:14] mixpix3ls commented on #216
Just using the example-clustsr.yaml in the repo.

On Mon, Jun 4, 2018, 8:46 AM Steve Sloka <notifications@github.com> wrote:

[2018-06-04 14:15] mixpix3ls commented on #216
Just using the example-cluster.yaml provided in the repo.

[2018-06-05 08:13] sneko opened #218 "How can I add a plugin?"
I'm looking for sending notifications to Slack when errors are handled. I found a lot of documentation about setting it up but that's with X-Pack and the operator doesn't seem to manage it (required > 6.3 according to the official website).

A backup would be to use directly the plugin "watcher" as described in this article:
http://uldissturms.github.io/2016/02/08/configure-elasticsearch-error-wat

[2018-06-05 10:11] tcstapas commented on #217
Thanks for the reply. I have tried the above step but no luck. I am facing the same problem.

Here is the error message in the ngnix controller pod

_W0605 10:05:03.204634       7 backend_ssl.go:46] error obtaining PEM from secret operator/es-certs-example-es-cluster: no keypair or CA cert could be found in operator/es-certs-example-es-cluster_

For the error message, it looks like it's looking fo

[2018-06-05 11:03] tcstapas commented on #217
Additional info:- I have used existing secret which is generated by operator.

Here are few lines from ngnix controller log which is created in kube-system namespace

I0605 10:43:06.921522       7 launch.go:108] Watching for ingress class: nginx
I0605 10:43:06.922320       7 launch.go:262] Creating API server client for https://100.64.0.1:443
I0605 10:43:06.930494       7 launch.go:124] validated

[2018-06-05 17:39] gianrubio commented on #217
The certificate generated by the operator will not work on nginx, I'd recommend you to generate a valid one using cert-manager or skip it

[2018-06-05 20:53] mixpix3ls commented on #216
@stevesloka I'm able to reproduce this issue in `minikube` as well.

[2018-06-06 13:17] tcstapas commented on #217
Are you saying to useSSL: false . FYI - I have tested with useSSL it did not work for me. Can we generate ssl using openssl (key and cert and secret) or are you saying to replace the operator generated secret es-certs-example-es-cluster? If yes can you please send some steps to do that?
Right now I am stuck and not able to proceed.

[2018-06-06 15:36] tcstapas commented on #217
use-ssl: false unable to create pods for kibana and cerebro-example-es-cluster. It's throwing me following error
MountVolume.SetUp failed for volume "es-certs-example-es-cluster" : secrets "es-certs-example-es-cluster" not found

[2018-06-06 16:01] tcstapas commented on #217
I found that you pushed one bug fix for use-ssl: false couple of days back, I took the master branch instead of documented tag and it's working now. Thanks for fixing the defect.
If you can guide us how to generate the SSL for this project this will be really helpful for production scenario

[2018-06-06 16:40] gianrubio commented on #217
Right now I am stuck and not able to proceed.

No, I’m not saying to disable ssl, I’m saying to use a valid tls certifate on nginx ingress ( like letsencrypt certificate) and use the secure-backend annotation in the ingress

[2018-06-06 17:49] jeromefroe opened #219 "Make the namespace that the sysctl init daemonset is deployed into configurable?"
Hi! I was curious if you would consider supporting making the namespace that the sysctl init daemonset is deployed into configurable? In my use case I deploy the elasticsearch operator into a dedicated namespace and it would be nice to be able to deploy the init daemonset into that same namespace instead of the default namespace. Thanks!

[2018-06-06 18:16] tcstapas commented on #217
I understand. I was trying with self signed certificate first. I hope that will work..
I was trying with following steps -
openssl genrsa -out ca.key 2048
openssl req -x509 -new -nodes -key ca.key -sha256 -subj "/CN=kibana.example.com" -days 1024 -out ca.crt
kubectl create secret tls example-com-tls --key=ca.key --cert=ca.crt -n operator

I used this tls in my ingress load balancer.. It's not work

[2018-06-07 07:38] gianrubio commented on #217
404 means your ingress is not well configured, please see the ingress logs

[2018-06-08 07:10] tcstapas commented on #217
I fixed the issue. I used useSSL=false and generate one certificate and it worked for me. Thanks!
I have another question. How can I restore S3 snapshot to PV (generated by operator)? or how can we migrate existing ELK to this framework, my question is primarily on migrating EBS volume..
I am not sure this is right forum to ask this, in case not please let us know so that I can close this issue an

[2018-06-11 21:15] kskewes commented on #214
Thanks Steve. Lets close this issue then, I might open one in Kubernetes repo.

FWIW I can see the podAntiAffinity stanza and the `role: data` label..

`spec:
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - podAffinityTerm:
          labelSelector:
            matchExpressions:
            - key: role
              operator: In
              values:

[2018-06-11 21:15] #214 closed

[2018-06-14 17:06] sneko commented on #218
Anyone could help please?

cc @stevesloka

[2018-06-14 17:11] stevesloka commented on #218
Hey @sneko, plugin's today are installed and baked into the image, I'm not a fan of installing deps on the fly in a production cluster. You can see those base images here: https://github.com/upmc-enterprises/docker-elasticsearch-kubernetes

[2018-06-14 18:42] sneko commented on #218
@stevesloka oh ok I understand 👍

I saw that 6.3 was released yesterday (https://www.elastic.co/blog/elasticsearch-6-3-0-released). How much time the operator usually takes to support new version? (It's just by curiosity, will wait the time it needs 😀  )

[2018-06-14 18:42] #218 closed

[2018-06-15 16:03] max-lobur commented on #159
If you run a set of ingress controllers for ELK you can use ingress annotations:
[code]
Or, if you're lucky to run ingress controller in the same namespace with ELK, instead of server-snipped you can use annotation that points to kibana cert: `nginx.ingress.kubernetes.io/secure-verify-ca-secret`

Docs: https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/nginx-configuration/anno

[2018-06-18 09:39] fabriziofortino commented on #217
@tcstapas The error `MountVolume.SetUp failed for volume "es-certs-example-es-cluster" : secrets "es-certs-example-es-cluster" not found` with useSSL: false has been fixed with #212

[2018-06-18 15:58] tcstapas commented on #217
Thanks! Can you please explain the restore of volume process using this operator. If restore one volume from S3 with same level will it work? - I just checking how we are going to restore AWS EBS if it's destroyed.. Also how can we migrate from traditional elastic search volume to this cluster?

[2018-06-18 19:52] #204 closed

[2018-06-18 19:55] neurot1cal opened #221 "Feature Request: Add option to chart to enable X-Pack"
@stevesloka How hard would it be to re-enable X-Pack? While searching through issues I also have seen some mention that X-Pack was causing some issues - Do you know if those still exist?

Would really like to open up Kibana to my users and be able to handle authentication - X-Pack would enable this for us and we're currently already paying for this.

[2018-06-20 02:44] sporkmonger commented on #219
Interestingly, the function to create the DaemonSet takes a namespace parameter, but then it's called with a hard-coded `"default"`:

https://github.com/upmc-enterprises/elasticsearch-operator/blob/b3a11249593f5118e83cd92b10b72841c5e87dce/pkg/controller/controller.go#L74

[2018-06-24 18:16] runonautomation commented on #170
See the same issue on Kubernetes 1.10. konljen pointed a correct workaround.

[2018-06-24 18:20] runonautomation commented on #170
Seems that is only a warning and still starts the nodes.

[2018-07-03 18:11] subham-hota opened #222 "Is there a way to setup AWS without EC2 instances?"
The cluster of our application in not in AWS but we wish to use a S3 bucket to store our snapshots , is there any other way to setup AWS for our elastic search operator without using EC2 instances(as we are not on AWS) ?

[2018-07-03 20:01] stevesloka commented on #222
Yup you should be able to, just need to have credentials passed to auth to S3. If you get it working would be nice to PR back docs on how to setup. Happy to help further as well.

[2018-07-03 20:11] tmirks opened #223 "StatefulSet does not apply resource limits"
## Description

Elasticsearch cluster StatefulSets are created without resource limits set. Setting the `limit` values appear to be [commented out in the code](https://github.com/upmc-enterprises/elasticsearch-operator/blob/6e86ad7bd806e28835a4708bb526b6cb83f078c1/pkg/k8sutil/k8sutil.go#L405-L408) for whatever reason.

This is a problem if you've defined a `LimitRange` resource in your cluster to

[2018-07-05 15:46] sudoforge commented on #216
@stevesloka I'm encountering this as well, on GKE, using the `example-cluster.yaml` from this repository. What can I do to help move this along?

[2018-07-07 02:56] stevesloka commented on #221
We can look into this, do you have any information about x-pack? I heard it was open sourced. Does it enable TLS for all communication? We're currently using SearchGuard which also can do authentication and would be easier since it's already there, but could look to refactor the those pieces into plugins.

[2018-07-07 02:59] stevesloka commented on #223
We did have limits at one time, but ran into issues. There was a PR (https://github.com/upmc-enterprises/elasticsearch-operator/pull/69) which addressed, but then some other issues came up. We should check upstream and see if any work has already been done that we could incorporate.

[2018-07-07 02:59] stevesloka commented on #222
Going to close for now, please reopen if you have more questions.

[2018-07-07 02:59] #222 closed

[2018-07-07 02:59] #216 closed

[2018-07-07 03:02] stevesloka commented on #182
It would be great to have docs on this. =)

[2018-07-07 03:13] stevesloka commented on #223
There was this PR as well with some good comments: https://github.com/upmc-enterprises/elasticsearch-operator/pull/120

[2018-07-09 17:47] neurot1cal commented on #221
@stevesloka Asking about X-Pack specifically for authentication. Ambassador handles TLS in our scenario, this is specifically for enabling password authentication from FluentD > Elasticsearch and UserA > Kibana. According to their documentation, in order to enable authentication in Elasticsearch you need X-Pack;

https://www.elastic.co/guide/en/kibana/current/kibana-authentication.html
https://www

[2018-07-09 17:53] neurot1cal commented on #221
@stevesloka Also looks like X-Pack now has many of its features enabled for free since 6.3+.

https://www.elastic.co/products/x-pack/open

[2018-07-09 18:01] stevesloka commented on #221
At the time this was built, X-Pack was rather expensive to purchase, so we went with SearchGuard which was free to use. SearchGuard does support auth: https://docs.search-guard.com/latest/authentication-authorization

We'll have to look into x-pack and see how we could integrate which I'm guessing shouldn't be too hard, but will need to take a look.

[2018-07-11 16:17] stevesloka opened #226 "Handle error handling of`zones` better"
Currently, if you set a bad value for `zones` field in the CRD, the operator throws a bunch of errors and sometimes you need to kill the operator pod to fix. Should handle errors here better and not hard crash the operator in the event of something's misconfigured.

[2018-07-11 21:08] erkolson opened #228 "Re-election of master causes ~40s cluster outage"
The Elasticsearch team indicate (in issues/discussions) that a master re-election should only cause a ~5 second outage of the cluster.  In practice, I am consistently seeing 40-55 second outages.  It could possibly be related to https://github.com/upmc-enterprises/elasticsearch-operator/issues/105 ?

By outage, I mean the clients timeout to any call, whether it be cluster health or even `_cat/indi

[2018-07-12 01:49] erkolson commented on #228
After some digging, I noticed that the images here are based on the pires images -> https://github.com/pires/docker-elasticsearch-kubernetes

I'm seeing the same issue with those as well so I don't think it is an elasticsearch-operator specific configuration.  I'll open an issue with pires.

[2018-07-15 23:09] kskewes commented on #170
So I've just found this error as I did a Kubernetes version upgrade to v1.10 and also some worker node replacements.
On restart of the data nodes, they spent a long time during the chown part of `/run.sh`, chown'ing each of the indices to `elasticsearch:elasticsearch`.
Whilst the logs show the above read-only messages, the bash script was actually able to chown the `/data` information which is wha

[2018-07-16 17:49] erkolson commented on #228
After much troubleshooting, I realized the actual problem is the query I am running.  The documentation says "reads" should succeed while the master is being elected and I assumed that a `GET` on `/_cat/indices` would be a "read".  This call will fail for the duration that I have described in this issue but a search query like `/<index-name>/_search?q=some%20text` will work throughout the entire m

[2018-07-19 21:13] komljen commented on #182
I wrote a blog post on this topic a few days ago https://akomljen.com/protect-kubernetes-external-endpoints-with-oauth2-proxy/. We could add the same instructions in some docs in this repo for Kibana deployed with the operator.

[2018-07-31 17:33] tmirks commented on #223
@stevesloka what's the recommended course of action for resource limits then? Remove cluster defaults?

[2018-08-06 07:59] FaKod commented on #207
Same issue here. We run several pods having `role=data`
So the operator is unusable then? Or can I do something?

[2018-08-08 01:07] sneko commented on #221
@stevesloka do you have any news about that? Thanks

[2018-08-08 17:25] stevesloka commented on #221
I took a look at x-pack on Elastic's site and it doesn't seem like any of the auth features are available in the open or basic models: https://www.elastic.co/subscriptions

![screen shot 2018-08-08 at 1 24 30 pm](https://user-images.githubusercontent.com/1048184/43853586-927ab612-9b0e-11e8-8f9b-ad30df23511d.png)

[2018-08-08 21:45] sneko commented on #221
Oh darn! I checked too and just saw the Alerting feature will not be open sourced :(

I would like to send message to a Slack channel when something goes wrong (on stderr). @stevesloka
 Do you know a good solution to do that without the X-Pack?

Thanks

[2018-08-10 19:02] iroller commented on #154
Hi @stevesloka. Could you elaborate a little on why local `hostPath` storage will not work for multi-node ElasticSearch cluster?

[2018-08-16 13:49] stevesloka commented on #219
Closed by #220

[2018-08-16 13:49] #219 closed

[2018-08-16 14:06] stevesloka opened #231 "Default namespace of init container to where operator is deployed"
Following up to #220 we should default the namespace to where the operator is running by reading the `NAMESPACE` env variable. Currently, we can specify the namespace via an argument, but would be nice to have a sane default other than `default`.

// cc @jeromefroe

[2018-08-16 14:09] stevesloka commented on #221
Happy to add support for things if it's interesting/useful to the project @sneko. Could you open a new issue to discuss that feature?

[2018-08-16 14:11] stevesloka commented on #221
@neurot1cal I want to get auth into the Elastic components. I don't have x-pack to test anything, but would you be ok with using SearchGuard? I heard they now have SAML & OIDC (https://groups.google.com/forum/#!topic/search-guard/yuMxaXqzCyg).

I'm not opposed to x-pack, just would need to find a way to integrate so that the community can access these features as well.

[2018-08-16 14:38] stevesloka commented on #221
Awesome! What method of auth do you want? I was thinking OIDC to play with first.

[2018-08-16 14:47] sneko commented on #221
@stevesloka ElastAlert acts as Curator do, it's an external component that query the ElasticSearch cluster to process some actions. So no need to create a new enhancement since it's not on your side 😃

In the case of ElastAlert it could try to find some words in my logs stored into ES, for example "error". If it's the case it is able to notify a Slack channel or whatever messaging tool you use.

M

[2018-08-16 14:56] neurot1cal commented on #221
That would be great. We’re using Auth0 so we’re pretty flexible with that
as our intermediary.

On Thu, Aug 16, 2018 at 7:40 AM Steve Sloka <notifications@github.com>
wrote:

[2018-08-16 16:40] Tharun-Sabbu commented on #139
Hello guys, any update on this issue. We have our own private docker registry and can't make the master and data nodes run because of the busybox image.

[2018-08-17 13:40] stevesloka commented on #188
@wjimenez5271 this is a logic error with naming, we'll need to add the namespace probably to the name or some other value to make it unique. Maybe we can concat the `name-namespace` which should be enough.

[2018-08-17 13:40] stevesloka commented on #189
Sorry for delay in getting back to you @wjimenez5271, are you still having issues with this?

[2018-08-17 13:44] stevesloka commented on #223
@tmirks the tricky part with limits (at least with memory) is when the pod exceeds those limits the pod is restarted. Initially, I had them set and then took them out since during some testing I found my data nodes restarting all the time. So I commented out that bit in the code.

I think the proper way might be to do some tuning of the limits in combination with some Java options to also talk to

[2018-08-17 13:45] stevesloka commented on #160
@kfox1111 would you mind sending a PR?

[2018-08-17 13:46] stevesloka commented on #176
Yeah, I think the logic needs to be changed here, maybe have the Cron check if the repo exists first, handle the result of that before starting.

[2018-08-17 13:47] stevesloka commented on #159
There's another issue to add auth, once we get that merged I hope to have some good examples of how to better manage auth with Kibana, etc.

See: #221

[2018-08-17 13:47] #159 closed

[2018-08-17 13:51] stevesloka commented on #197
An arg to specify this was added in #220. #231 aims to default this to where the operator is deployed.

[2018-08-17 13:51] #197 closed

[2018-08-17 13:52] stevesloka commented on #198
I think we have this resolved with an arg that was addedd in #220. We also have #231 which aims to default this to where the operator is deployed.

[2018-08-17 13:52] #198 closed

[2018-08-17 13:53] stevesloka commented on #169
Thanks for the tips @sneko

[2018-08-17 13:53] #169 closed

[2018-08-17 13:54] stevesloka opened #233 "Document usage scenarios better"
Need to document scenarios better so there's less "magic" in how things work.

// e.g. #169

[2018-08-17 13:55] stevesloka commented on #157
I'm going to be doing some work to get OIDC enabled using Search Guard, see #221

[2018-08-17 13:56] stevesloka opened #234 "Document LB setup to access services"
Need to document how to setup LB to access various services within the cluster once created.

// #158

[2018-08-17 13:56] #158 closed

[2018-08-17 15:10] #139 closed

[2018-08-18 15:49] Tharun-Sabbu commented on #139
When is the next release going to be with busybox image as a variable, currently I had to use the following command to overcome the issue:  kubectl set image ds elasticsearch-operator-sysctl  sysctl-conf=privaterepo/busybox:latest && kubectl get po -l k8s-app=elasticsearch-operator -o name | cut -d"/" -f2 | while read p;do kubectl  delete po $p;sleep 5;done

[2018-08-19 07:23] kskewes opened #237 "Prometheus Monitoring"
Sorry. Missed statsd-host in readme. Closing.

[2018-08-19 08:47] #237 closed

[2018-08-20 01:52] jeromefroe commented on #231
Hey! Sorry for the recent radio silence, I was OOO for a week and then a little swamped catching up when I got back. Thanks for landing the previous PR, I think I should be able to tackle this one based on our previous conversation once I get some cycles.

[2018-08-28 17:38] wjimenez5271 opened #238 "Controller can't be deployed on GKE"
It throws this error:

[code]

[2018-08-28 17:47] wjimenez5271 commented on #238
Was hoping I was just missing something in the docs about pre-reqs on GKE, but couldn't find any. Thanks in advance for your help! Also this is with `1.9.7-gke.5` of Kubernetes

[2018-08-28 18:26] stevesloka commented on #238
Did the RBAC stuff apply correctly? Seems like the service account and role didn't get created.

[2018-08-29 04:44] wjimenez5271 commented on #238
@stevesloka where does that get applied? Maybe I missed a step?

[2018-08-29 11:45] szymonpk opened #239 "nodeSelector does not work(?)"
I am not sure if I have messed something or it is not fully supported. Config which I am trying

[code]

ES is installed with helm
[code]

Pods are up, but I got empty result from:
[code]

And pods/containers are running on the wrong nodes.

[2018-08-29 16:14] wjimenez5271 commented on #238
Here is what I see when I deploy it:

[code]

then it lists out a ton of API verbs

[2018-08-30 07:50] sneko opened #240 "(?) [Feature] More certificates"
Hi!

I remember that when I started using your operator I enabled SSL for my ES cluster. Since I also enabled Cerebro and Kibana the operator has automatically generated appropriate certificates... but what about other client applications I would like to use?

It could be interesting that just by providing an array of strings to the ES cluster CRD the operator would create as much certificates as

[2018-08-31 02:01] wjimenez5271 commented on #238
Turns out in GKE you first need to grant your identity rights to create these RBAC permissions objects: https://stackoverflow.com/questions/44349987/error-from-server-forbidden-error-when-creating-clusterroles-rbac-author

[2018-09-01 16:21] nabadger opened #241 "Master re-election delay (10+seconds) and outage"
This is actually something we can re-produce (and are struggling to understand) on a manually deployed ES cluster, but I've just tested it with the your operator as well, and it exhibits the same issue.

Generally speaking we would expect a delay of a few seconds during re-election, but when deploying ES on K8s we are seeing master re-elections take between 10 and 30s.

Config:
[code]

To test thi

[2018-09-01 16:26] nabadger commented on #241
Logs:
[code]

[2018-09-01 16:30] nabadger commented on #241
It looks like it did elect a new master `10.244.3.6` - but unsure why the curl command fails (might suggest dns/k8s routing issues?

[2018-09-01 16:42] nabadger commented on #241
Hm, might be the same as #228

[2018-09-10 08:56] nabadger commented on #223
Hi,

I do think this should be an option - our clusters have resource limits enforced so have to set them.

If pods are getting killed, it's more of a cluster-admins role to ensure it's resourced up sufficiently and configured and monitored right?

[2018-09-10 13:49] stevesloka commented on #223
Clusters which enforce limits is a valid reason to add back. I'm not saying we shouldn't have them, just in my experience with using the operator, managing the JVM with limits can be tricky. I'll add a way to make them optional so you could still define and others could leave out.

[2018-09-10 18:48] nabadger commented on #223
Awesome, many thanks 👍

[2018-09-18 14:49] stevesloka commented on #178
Closed via #242

[2018-09-20 08:03] bnnd opened #245 "helm error"
helm repo add akomljen-charts https://raw.githubusercontent.com/komljen/helm-charts/master/charts/
helm repo add es-operator https://raw.githubusercontent.com/upmc-enterprises/elasticsearch-operator/master/charts/
helm repo update
helm install --name es-operator es-operator/elasticsearch-operator --set rbac.enabled=false --namespace logging
helm install --name efk  --namespace logging  akomljen-ch

[2018-09-23 22:18] sebastianvoss commented on #38
This would be a great addition. I'm facing non-deterministic issues when launching a fresh cluster. It seems when the data nodes get started before the master nodes the failing health checks let Kubernetes permanently restart the nodes. In such situation, the only way to recover is to recreate the cluster.

[2018-09-23 23:04] stevesloka commented on #38
Thanks for the feedback! This is top of my list to be a fully functional operator.

[2018-09-24 11:32] nabadger commented on #241
Is it possible to confirm whether this is re-producible on your stack or not?

We believe we have found and fixed the issue - the key for us was to trap the sigterm and wait for ES to complete the failover. If this doesn't happen, kuberentes kills the pod too quickly (and the network stack), and ES can't complete the failover.

Our example: https://github.com/mintel/es-image/blob/master/run.sh

[2018-10-03 03:14] while1eq1 opened #248 "Healthcheck fails when using the latest SearchGuard 6 on ES 6.3+"
as mentioned here - https://github.com/upmc-enterprises/elasticsearch-operator/pull/247

This operator depends on use of the searchguard-ssl plugin for TLS encryption. However searchguard-ssl is no longer distributed as a standalone plugin past ES version 6.2.4 - https://docs.search-guard.com/latest/search-guard-versions

it has been rolled into the main searchguard plugin.

In order to support ES

[2018-10-03 03:19] while1eq1 commented on #248
Ive made a custom elasticsearch docker image that handles the sgadmin initialization here - https://github.com/while1eq1/elasticsearch-kubernetes-searchguard

[2018-10-06 20:02] jimmyjones2 commented on #223
Setting requests but not limit results in a [Burstable](https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/#create-a-pod-that-gets-assigned-a-qos-class-of-burstable) QoS level. Given that Elasticsearch allocates pretty much all its memory on startup and it stays fixed, wouldn't it be better to set the limit and request to the same (ideally 2x heap), giving Guaranteed QoS

[2018-10-08 06:17] kaarolch opened #250 "Version autobuild during merge."
Hey,
Are you planning to implement auto-build and version update during PR merge? I see that you use semversion, so maybe travis could release new version of docker images and helm charts during every approved PR? There is a possibility to add prefix for a PR i.e. [Major], [Minor], [Patch] to auto update different sem. version part. Or something similar. I can propose POC if you would like.

[2018-10-08 10:07] kaarolch opened #251 "Syscrtl deployed in default namespace"
I change elasticscrear operator to 0.2.0 version where sysctl daemon set #220 should be deployed in the same namespace where operator was. Unfortunately elasticsearch-operator: 0.2.0 still use `default` namespace:
[code]
Flag `initDaemonsetNamespace` added in 0.2.0: [line](https://github.com/upmc-enterprises/elasticsearch-operator/blob/9336d0084572eb24336c12cf3c39bc2fdc708b10/cmd/operator/main.go#

[2018-10-15 18:33] stevesloka commented on #251
It looks like #220 only implemented via an argument. It should work if you pass the arg, we'll have to get another PR together to read from ENV variables.

[2018-10-15 18:34] stevesloka commented on #250
We could have Travis build out `master` tag for the operator. I wouldn't want a semver release for each build.

[2018-10-15 18:36] stevesloka commented on #241
Hey @nabadger sorry for the delay in responding. I haven't looked into this just yet.

[2018-10-15 18:36] stevesloka commented on #245
Hey @bnnd what's the issue? Could you please explain the error / problem that you are running into?

[2018-10-15 18:37] #238 closed

[2018-10-15 18:38] nabadger commented on #241
@stevesloka no problem. We've worked around it for now with our own ES deployment manifests, but I'd much rather use this operator 👍

[2018-10-15 18:40] stevesloka commented on #239
This looks like a bug @szymonpk, that field is not implemented anywhere to pass through to the resources created.

[2018-10-15 18:41] stevesloka commented on #251
So I do have an issue for this: https://github.com/upmc-enterprises/elasticsearch-operator/issues/231

[2018-10-15 18:41] stevesloka commented on #241
If you're willing we can work to apply those fixes to the operator.

[2018-10-16 06:41] kaarolch commented on #250
ok

[2018-10-16 06:43] kaarolch commented on #251
@stevesloka  but is the #220 include in 0.2.0 or only master image . I get the 0.2.0 operator but it look like this namespace is missing:/

[2018-10-16 12:04] kaarolch commented on #223
Anyway in most env people, teams have default request and limit set to not skip this limit. In this type of env you have to recompile operator binary and create own container. Maybe a good solution would be to allow override default limits from CRD?

[2018-10-16 12:43] nabadger commented on #241
@stevesloka I had a look at the Dockerfile that this operator is using, I didn't realise until now, but I see  you're using https://github.com/pires/docker-elasticsearch via https://github.com/upmc-enterprises/docker-elasticsearch-kubernetes

I've actually raised this same issue on the pires repo too.

The fix for this should be in the run.sh entrypoint here: https://github.com/pires/docker-elasti

[2018-10-17 08:53] komljen commented on #245
This seems like it came from my blog post, as I used ES operator for EFK stack, but we need the issue first :)

[2018-10-18 21:35] carolvdlinde opened #253 "Liveness & readiness probe fail in mutual_tls environment"
As per https://istio.io/help/faq/security/#k8s-health-checks
If mutual TLS is enabled, http and tcp health checks from the kubelet will not work since the kubelet does not have Istio-issued certificates.

We rather need to perform a curl command. e.g.
livenessProbe:
exec:
  command:
  - curl
  - -f
  - http://localhost:8080/healthz # Replace port and URI by your actual health check
initialDelaySec

[2018-10-19 18:33] stevesloka commented on #253
@carolvdlinde I don't see why not I guess if it accomplishes the same thing. The only downside is you would have to make sure `curl` is available in the container.

[2018-10-23 14:16] stevesloka commented on #251
@kaarolch no, that commit isn't in the 0.2.0 release, you would need to use `master` currently. I can bake a new release which would make sense.

[2018-10-23 14:19] stevesloka commented on #241
@nabadger actually we had some PR's from @while1eq1 who make up a new image to fix some of the SearchGuard updates. Could you look to see if this repo needs the same fix (elastic-search-image: quay.io/while1eq1/elasticsearch-kubernetes-searchguard)? It would be good to fix Pires's repo as well just to help out others.

[2018-10-24 16:15] nabadger commented on #241
@stevesloka  thanks, it looks like it would have the same issue.

I'll test it and submit a PR to that repo if i can reproduce it.

[2018-10-27 15:32] nabadger opened #254 "Allow ImagePullPolicy to be set for underlying ES image"
Looks like this is hard-coded to `Always` in `pkg/k8sutil/deployments.go`

It would be good to add an option to the ElasticsearchCluster spec for each image we pull.

Unless there's a reason not todo this, I can work on a PR for it - note, this is useful for development under minikube where we can use the local image via `eval $(minikube docker-env)`

[2018-10-27 16:28] nabadger opened #255 "Document package dependency on keytool"
I noticed that we need to install keytool when generating the certs.

This should probably be added as a note under the Development section on the README the operator will error-out without it.

I'm also wondering if there's another more lightweight tool that could be used in it's place since it requires us to install JDK. Is there a smaller Go option available (then we could just `go get...` ? :)

[2018-10-27 18:09] nabadger commented on #254
PR #256

[2018-10-29 15:27] #254 closed

[2018-10-29 18:03] nabadger commented on #241
Note, this issue has now been recognized on the main helm chart repo for elastic-search.

https://github.com/helm/charts/issues/8785

We should monitor and ideally use the same solution for all elasticsearch installs on Kubernetes.

That might end up being a fix in https://github.com/elastic/elasticsearch-docker/blob/master/build/elasticsearch/bin/docker-entrypoint.sh (or something that wraps this

[2018-10-29 22:20] kskewes commented on #251
FWIW I pass it as an ARG like this in the `controller.yaml` Deployment (after pulling master):
[code]

[2018-10-30 01:22] kskewes opened #257 "Error building master - initDaemonspace"
Have deleted existing directory and done a fresh clone of repo.

[code]

Checking how k8sutil.New is being invoked, and it matches the `have` above:
[code]

Checking `k8sutil.Net` function definition:
[code]

`main.go` looks like it imports `k8sutil.go`, but the repo looks fine.
I can't find any 'pinned to git commit version' stuff anywhere.

Apart from maybe doing `initDaemonsetNamespace string`

[2018-10-30 01:46] kskewes commented on #257
User error.
Was building old copy out of $GOPATH rather than where I cloned repo.

[2018-10-30 01:46] #257 closed

[2018-10-30 02:25] karlskewes opened #258 "Fix Elasticsearch File Permission Warnings"
Have just rolled current master with [while1eq1's 6.4.1](https://github.com/while1eq1/elasticsearch-kubernetes-searchguard) (thank you!) and saw some `insecure file permissions` warnings in the logs for Elasticsearch pods.

I think we can just set file permissions in places like [deploy, sts, etc](https://github.com/upmc-enterprises/elasticsearch-operator/blob/master/pkg/k8sutil/deployments.go#L57

[2018-11-05 19:39] kskewes opened #259 "Deploying with Multiple Availability Zones - Storage Classes"
Firstlly, thanks very much for this operator. Have been using for 6+ months in single zone environments.

Have just stood up a cluster in an IBM managed Kubernetes environment with multiple zones and wanted to share my experience for anyone else searching through, re: #233 .

Zones are: `dal10`, `dal12`, `dal13`.

In my cluster yaml I put the following related config:
[code]

Per the [storage.go](

[2018-11-08 18:31] #259 closed

[2018-11-21 10:23] runningman84 commented on #184
From my point of view the data stateful set should be per zone. Combined with a cluster.routing.allocation.awareness we could upgrade one zone with a newer version and rollback without loosing data.

[2018-11-22 16:43] hawksight opened #263 "operator-sysctl daemonset not cleaned up"
When removing all resources related to the example deployment on GKE (and i suspect other backends), the operator does not clean up the `elasticsearch-operator-sysctl` daemonset and pods.

For example in a small two node cluster after deletion, this was my state:
[code]

Also to note that the `customresourcedefinition` = `elasticsearchclusters.enterprises.upmc.com` is also left over. I would have

[2018-11-27 17:20] bgagnon commented on #105
With #246, the setting is now adjusted dynamically in the _cluster state_, but how is it passed to the nodes that are starting up? What prevents them from declaring themselves master and starting a new cluster?

The full solution should include some form of bootstrapping (via command line flag, environment variable or config file) that informs a fresh node that it cannot start an election on its o

[2018-11-28 11:52] alwinmarkcf opened #265 "Ingest Role"
Hi,

I'm now wondering how the separation of roles is meant. So with the ES Operator, I can choose to spawn:
* client
* master
* data

where ES seems to have:
* node.master (default true)
* node.data (default true)
* node.ingest (default true)

As far as I could see with a first [glance](https://github.com/upmc-enterprises/elasticsearch-operator/blob/master/pkg/k8sutil/deployments.go#L186-L200
),

[2018-11-28 12:54] prune998 opened #266 "Operator PANIC after cluster delete, then PANIC at restart"
using Operator image 0.2.0 or master on a GKE cluster 1.10.
Everything was working fine.
I delete my `elasticsearch-cluster` resource and the Operator Panic :

[code]

Now the Operator is failing to restart with another Panic :

[code]

[2018-11-28 12:58] prune998 commented on #266
I added a `elasticsearch-cluster` resource and the operator is not failing anymore.
So the issue seems to be at the resource discovery or watch, which does not expect to have an empty list ?

[2018-11-29 14:35] stevesloka commented on #266
Hmm let me take a look @prune998, seems like something got introduced which doesn't handle an empty cluster.

[2018-11-29 14:37] stevesloka commented on #265
This this a new feature? I also don't see `clients` in that list on the docs page. Happy to add features as needed. =)

[2018-11-30 19:50] FaKod opened #267 "operator crash if other Pods have no component label"
using Operator 0.2.0 on a GKE cluster 1.11.

If there are other Pods (without component label) in the same namespace as the managed ES Pods, the operator crashes with:

[code]

[2018-12-14 16:37] while1eq1 commented on #239
@szymonpk, Im working on a PR that will implement nodeSelectors / Taints and Tolerations.

[2018-12-15 01:33] while1eq1 commented on #239
@szymonpk My PR should offer what your asking for

[2018-12-17 18:44] kskewes commented on #265
I think Elastic have just changed the naming scheme from client to ingest since the operator was created. They have done this from time to time.
I use the current operator with custom 6.41 ES image and have an ingest/processor pipeline running on the client nodes.

[2018-12-18 17:19] while1eq1 commented on #239
@szymonpk This PR offers nodeSelectors and much more - https://github.com/upmc-enterprises/elasticsearch-operator/pull/270

[2018-12-20 09:22] szymonpk commented on #239
Thanks, much appreciated.

[2018-12-31 17:14] while1eq1 opened #273 "Allow JavaOptions to be set individually for Client, Data, Master nodes"
Currently there is no way to do this. Ill be submitting a PR to allow this type of functionality

example:

[code]

if 1 or more is not set then it will be propagated by the original "java-options" setting

[2019-01-02 19:22] joekohlsdorf commented on #251
@stevesloka Can you please push a new version?

[2019-01-04 11:22] ahsan-storm opened #275 "Publish chart to a public helm repository"
Please get elastic-search operator & elasticsearch listed in the public helm repository i.e. https://github.com/helm/charts

[2019-01-07 07:06] ahsan-storm commented on #275
@stevesloka

[2019-01-07 19:59] pms1969 commented on #275
or here https://hub.helm.sh/

[2019-01-08 22:35] mleklund opened #276 "Future Elasticsearch Image plans"
Wondered if there was a plan to handle the fact that the pires/docker-elasticsearch-kubernetes repo is abandoware at this point.

[2019-01-08 22:38] while1eq1 commented on #276
I built my own here that I shared that supports ES 6.3+

https://github.com/while1eq1/elasticsearch-kubernetes-searchguard

[2019-01-09 01:19] pieterlange commented on #276
What makes you say pires/docker-elasticsearch-kubernetes is deprecated? Seems supported to me.

[2019-01-09 17:50] kskewes commented on #276
I forked @while1eq1 repo above for my use and haven't made any major changes yet. Thanks very much for your work there.

I think we should adopt it for this repo as it works well and reduces the number of FROM statements.

[2019-01-09 19:41] while1eq1 commented on #276
Also the pires one wouldnt work with this operator if the ES version was 6.3+ as the SearchGuard SSL standalone plugin was rolled into mainline SearchGuard and doesnt support anything after ES 6.2.

This required changes such as initializing searchguard at runtime and adding all the sgconfigs.

Also, to use my ES repo with this you need to build the elasticsearch-operator from master branch

[2019-01-10 14:57] mleklund commented on #276
Also, with the open sourcing of xpack, should consideration be given to basing the image on the upstream projects docker image?  Docker hub's "official" image is based on elastic.co's image now.  There are size considerations of an alpine based image vs another platform, but it could pay off in stability as elastic's image likely gets a large amount of testing.

[2019-01-10 23:02] pieterlange commented on #276
xpack isn't "true" open source though (elastic license), as we've discussed in another issue here or in pires' repo so i'm not sure about packaging that.

I tried building my own ES 6.1.3 image with a recent searchguard a couple of months ago but also ran into some upgrading issues due to the searchguard support model changing. Ran out of my timebox and didn't have time yet to look back.
This is a

[2019-01-13 02:36] stevesloka commented on #276
I think we should rally around @while1eq1's image. Do you want to make that a thing @while1eq1?

I also might see about moving this to a generic org/repo. Would be nice to have all the code in one place (e.g. operator, cron, image, etc)

[2019-01-13 02:37] stevesloka commented on #275
Yup we can do that. Do you want to help out with a PR? I can get to it, will just take some time.

[2019-01-14 14:18] while1eq1 commented on #276
@stevesloka Yes, Id be 100% down for that, lets make it happen.

[2019-01-14 14:56] skokovic commented on #276
@pieterlange I'm up for it, don't know what slack you're referring to though.

[2019-01-24 06:24] aditisrinivas97 opened #279 "Update readme to include instructions to delete deployment"
The Readme would be more comprehensive if it contained instructions to delete all the resources that are created in the given examples.

[2019-01-28 15:30] alwinmarkcf commented on #223
So is there something in there already? Do we need an additional value? I hit the same problem

[2019-02-02 00:42] dimm0 commented on #184
Need VolumeClaimTemplate for baremetal
Is any progress available?

[2019-02-02 02:02] dimm0 commented on #276
Is it gonna happen?
(he's referring to https://slack.com messenger)

[2019-02-02 03:01] dimm0 commented on #276
Ah.. I see :) no idea.

[2019-02-06 00:38] vroudge commented on #88
Is this still an ongoing effort? This feature would be very interesting!

[2019-02-07 13:53] MBauer83 opened #280 "Default resource limits for clusters lead to OOMKilled for client-pods with default image"
When running the example configuration (azure) against a cluster with sufficient available resources, the resource limits given in the example configuration lead to `CrashLoopBackoff`-events for the client pods due to OOMKilled.

[code]

Increasing memory limits by 512Mi to 1536Mi allows the cluster to start.

[2019-02-15 16:02] andreykaipov opened #283 "Non-AWS storage classes are invalid"
I'm running the operator off the master branch on GKE and after applying the example manifest, I noticed my PVCs were pending. Looking at the details of the pvc, I found the following error:

This is caused by PR https://github.com/upmc-enterprises/elasticsearch-operator/pull/272 that will always add an `encrypted` option to the parameters section of the storage class. However, Kubernetes will alw

[2019-02-15 16:14] andreykaipov commented on #283
To be fair, there is a comment above that `CreateStorageClass` function that says only AWS volumes are supported. However, the operator worked fine on GKE in the most recent release, so I'm not sure if you guys want to consider this a breaking change or not.

A quick solution would be to add a conditional check around that option, but as more disparate options are added, the code will get pretty m

[2019-02-18 09:04] myonlyzzy opened #284 "don't sync resource"
if i change ElasticsearchCluster resources ,operator doesn't  sync to statefulset.

[2019-02-18 09:27] sneko opened #285 "How to define Kibana and Cerebro resources (requests/limits)?"
Hi,

Is there a way to specify Kibana and Cerebro requests/limits resources? It would be really helpful for me to make a better split across my nodes.

Thank you,

[2019-02-18 23:36] splisson-altair commented on #184
How can I help implementing this?

[2019-02-21 07:31] wanghe-fit2cloud opened #287 "How to set snapshot？"
My setup is:
...
snapshot:
    bucket-name: ***
    cron-schedule: '@every 2m'
    scheduler-enabled: true
    type: s3
    image: upmcenterprises/elasticsearch-cron:0.0.4
    repo-region: cn-north-1
    repo-authentication:
      access-key: ***
      secret-key: ***
...

after the creation is completed, execute kubectl get po and find the pod with error message:
flag provided but not defined: -r

[2019-02-28 13:12] cortopy commented on #184
also happy to help. Is there a branch for v2 we can start developing?

[2019-02-28 21:39] Cynerva commented on #139
Any chance of this making it out to a stable release? I have a need for this option but it looks like it still hasn't been released.

[2019-03-01 14:52] stevesloka commented on #284
What specifically doesn't sync? There are some parameters that don't because they would be destructive to the cluster. There is a PR in flight to help out, we just need to finish the review.

[2019-03-01 14:53] stevesloka commented on #283
Ahh right. That's a bug we shouldn't have introduced. We need to refactor out how those classes are handled. I kind of like allowing the operator to create it's own so that they aren't reused elsewhere in the cluster.

[2019-03-01 14:55] stevesloka commented on #280
Many of the examples were driven off of demoing locally in minikube or something but would need to be tweaked for a real-world use case. We should probably have some docs on that.

[2019-03-01 14:55] #280 closed

[2019-03-01 15:07] stevesloka commented on #184
I think we should get a design down in a google doc, then figure out where to go from there. I made one here (https://docs.google.com/document/d/1eigzZ3pcNElItsSk6xoWcDDRHvJzseMMcX8r_YT6XNk/edit?usp=sharing). If someone wants to draft up the design started above, I think we can then lock the doc and review together with comments.

// cc @while1eq1

[2019-03-04 19:17] splisson-altair commented on #184
I started filling in the doc using elements from the discussion that @gianrubio had posted here.

[2019-03-05 16:04] jcantrill commented on #184
Openshift is close to releasing our first version of an elasticsearch-operator [1] for our pending 4.0 drop.  It is currently coupled specifically to Openshift cluster logging usecases but has the intention of being more general purpose.

[1] https://github.com/openshift/elasticsearch-operator

[2019-03-05 17:42] navimon opened #290 "Readiness Probe on client deployment is failing"
The readiness probe on the client deployment seems to be failing, leading to multiple restarts on the data and master nodes as well.

[2019-03-07 07:37] xyphr opened #291 "Kibana and Cerebro services are not deleted when deleting ElasticsearchCluster"
Currently, when deleting an ElasticsearchCluster the services for Kibana and Cerebro are left behind. The delete services method doesn't have the code for deleting those two services.

[2019-03-07 10:06] xyphr commented on #291
This seems to fix it

[code]

[2019-03-07 10:47] wwojcik opened #292 "Operator Panic - runtime error: slice bounds out of range"
Version: 0.3.0
kube version: 1.11.7
 error:
[code]
cluster config:
[code]

[2019-03-07 14:31] stevesloka commented on #291
Hey @xyphr would you like to send up a PR?

[2019-03-08 19:54] BernardoAguilar commented on #292
Same error here but on a different step. My cloud is Azure, could be something related with S3 snapshot functionality?

`kubectl logs es-operator-elasticsearch-operator-7c4c6f9cff-b27md                                                                ✘
time="2019-03-08T19:07:08Z" level=info msg="elasticsearch operator starting up!"
time="2019-03-08T19:07:08Z" level=info msg="Using Variables:"
time="

[2019-03-10 22:46] pst opened #293 "DaemonSet default namespace"
While packaging release 0.3.0 for the [Kubestack catalog](https://www.kubestack.com/catalog/elasticsearch) I noticed you now provide a flag to configure the DS namespace. However, it sets default as the default namespace. Wouldn't it make more sense to use the $NAMESPACE env var you already set in the operator container as the default value? So it would default to the same namespace as the operato

[2019-03-11 21:15] vroudge commented on #292
[code]

[2019-03-11 22:35] kfox1111 commented on #157
https://opendistro.github.io/for-elasticsearch/features/security.html looks interesting. :)

[2019-03-18 15:53] jacobreid opened #294 "Node key not being exported to pkcs8"
I can create a cluster with the upmcenterprises/docker-elasticsearch-kubernetes:6.1.3_1 image fine, but when I try to use the searchguard image (https://github.com/while1eq1/elasticsearch-kubernetes-searchguard), elasticsearch fails to start up because the node key can not be found. The searchguard config specifies this to be in pkcs8 format (https://github.com/while1eq1/elasticsearch-kubernetes-s

[2019-03-26 14:59] jacobreid commented on #88
This is definitely something that should be implemented. A workaround is to set the number of replicas of each shard to n+1 where n = the number of data nodes in each failure domain, but this is not ideal as it requires manually updating if the cluster is scaled up, may increase load from rebalances in the event of a zone failure/partition and still introduces an element of vulnerability in that i

[2019-03-26 15:31] jacobreid commented on #88
I noticed that the docker image already has support for shard allocation awareness (https://github.com/while1eq1/elasticsearch-kubernetes-searchguard/blob/master/run.sh#L39), although this is not implemented in the best way - it uses an environment variable SHARD_ALLOCATION_AWARENESS_ATTR which is a path to a file that contains the attribute, intended for a system hostname or similar but not ideal

[2019-04-01 12:00] bhaskar-chenchu commented on #292
Experiencing same issues mentioned above when i try to install es-operator @ AKS cluster v1.2.6.

Any suggestions?

[2019-04-01 12:28] bhaskar-chenchu opened #296 "elasticsearch-operator crashloopbackup"
unable to run elasticsearch-operator in AKS 1.12.6 cluster.

error#
time="2019-04-01T12:25:01Z" level=info msg="elasticsearch operator starting up!"
time="2019-04-01T12:25:01Z" level=info msg="Using Variables:"
time="2019-04-01T12:25:01Z" level=info msg="   enableInitDaemonset: true"
time="2019-04-01T12:25:01Z" level=info msg="   baseImage: upmcenterprises/docker-elasticsearch-kubernetes:6.1.3_0"

[2019-04-01 12:50] stevesloka commented on #296
@bhaskar-chenchu do you have any cluster CRD's defined?

[2019-04-02 21:11] vdamianchicon opened #298 "upmcenterprises/elasticsearch-cron:0.0.4 snapshot crashloopbackup"
snapshot crashloopbackup  in gke with gs storage

severity: "ERROR"
 textPayload: "time="yyyy-mm-ddT13:00:19Z" level=error msg="Error attempting to create snapshot:
 Put https://my_es_url.my_es_namespace.svc.cluster.local:9200/_snapshot/elasticsnapshots/snapshot_yyyy-mm-dd-13-00-19?wait_for_completion=true: http: server gave HTTP response to HTTPS client"

Config:
snapshot:
  enabled: true
  type:

[2019-04-03 14:50] vdamianchicon commented on #298
Seems this is related to the snapshots not working in gke note in the README
  ".... By swapping out the storage types, this can be used in GKE, but snapshots won't work at the
      moment."
Is there a work around recommendation?

[2019-04-04 06:25] solomonlinux opened #299 "operator is running, but can not create client,master,data"
$ kubectl apply -f elasticsearch-cluster.yaml

$ kubectl get pods -n logging
NAME                                      READY   STATUS    RESTARTS   AGE
elasticsearch-operator-6db688bc67-f67vs   1/1     Running   0          53s
fluent-bit-2kb5s                          1/1     Running   1          17h
fluent-bit-7zc6m                          1/1     Running   1          17h
fluent-bit-n4wmr

[2019-04-08 11:59] iocanel opened #300 "Error creating ca-config.json: invalid argument"
I am trying to install the operator in a local Openshift v3.11 cluster and it fails to start the cluster (see the logs below).

The steps I am using to install are:

    oc new-project operator
    oc create -f example/controller.yaml
    oc create -f example/host-pat-sc.yaml
    oc create -f example/es-cluster-hostpath.yaml

The operator is succesfully installed, but the cluster is not.
In the op

[2019-04-14 20:23] bhaskar-chenchu commented on #296
@stevesloka ,  as part of ES-Operator, no.  As part of Istio installation, yes.  standard Istio defined CRDS of Istio-deployment. (https://istio.io/docs/setup/kubernetes/install/kubernetes/).

[2019-04-17 12:30] lior-k commented on #50
Hi guys,
I'm new to the whole operators world so bare with me.
I know that this thread is old, but I'll give it a try:
I understand that Kubernetes can decide to shutdown a pod & start it on a different node. When it does that to an ES data node I expect that this operator will stop "shared allocation" in order to avoid heavy I/O across the cluster. This is the best practice as @djschny wrote abov

[2019-04-23 01:08] stevesloka commented on #299
It looks like the CRD wasn't created properly. Can you restart the operator and see if it recreates? If not there may be an RBAC permissions issue where it cannot create crd's in your cluster.

[2019-04-23 01:09] stevesloka commented on #296
What I meant are did you apply any elasticsearchcluster crd's? e.g. kubectl get elasticsearchclusters

[2019-04-24 09:08] bikkinamahesh369 opened #301 "Queries on elasticsearch operator"
Can we deploy elasticsearch 7.0 stack through this elastic search operator?
PVC is getting deleted whenever I delete CR. How to avoid this?

[2019-05-04 06:07] abh commented on #251
I think this was on 0.3.0

[2019-05-10 12:02] ArjonBu opened #305 "How to set the namespace for daemonset?"
The daemonset runs on default namespace. How do we make it run on a custom namespace?

[2019-05-10 15:43] cfontes commented on #239
Just a FYI, there is not much about how this works.

I am trying to use nodeSelector, and I cannot make it work.

My current cluster definition is this

[code]

I never see the nodeselector on the actual pods, it does not work for the tolerations or affinity as well

this is how I am installing the operator

[code]

then  I run this YAML from above using `kubectl create -f`, I do see everything co

[2019-05-17 01:47] dwhitlow opened #307 "Unable to set custom annotations on ES cluster and associated resources via elasticsearch chart"
Adding support for a value for custom annotations would be useful for specifying things like cost products/teams and standardized k8s operators such as `app.kubernetes.io/instance`.

Here's an example of this from one of Helm's community charts: https://github.com/helm/charts/blob/master/stable/redis/templates/redis-master-statefulset.yaml#L31

[2019-05-17 02:06] #307 closed

[2019-05-21 13:44] mleklund commented on #276
https://www.elastic.co/blog/security-for-elasticsearch-is-now-free

[2019-05-21 14:00] stevesloka commented on #276
Yeah I saw that @mleklund, the question now is should this operator exist now that elastic has an official one?

[2019-05-21 14:23] while1eq1 commented on #276
Once the official one is tested and known to provide all the needed
features id imagine the answer would be no. What is your thoughts?

On Tue, May 21, 2019 at 10:00 AM Steve Sloka <notifications@github.com>
wrote:

[2019-05-21 19:32] stevesloka commented on #276
That's my thinking, but need to investigate the current solution to verify features. I don't think it makes sense to invest in multiple solutions that accomplish the same thing and given there's a vendor solution, I think it makes sense to move to that.

[2019-05-24 09:38] wanghe-fit2cloud opened #309 "snapshot failure"
i run the operator in the local k8s cluster environment, k8s version 1.13.5.
es cluster runs normally, but snapshot fails.
![image](https://user-images.githubusercontent.com/46734380/58318269-0189d280-7e4a-11e9-953b-24d7ee239a05.png)

the snapshot configuration:
![image](https://user-images.githubusercontent.com/46734380/58318533-8a087300-7e4a-11e9-9a93-d258c59ec56e.png)

Is there any other config

[2019-05-24 14:14] komljen commented on #276
Zalando team have their own ES operator, but it seems the main focus is on scaling https://github.com/zalando-incubator/es-operator. Of course, it would be great if we have only one operator to rule them all, but I don't see that happen anytime soon.

[2019-05-30 12:47] komljen commented on #309
You can use this image to fix the issue `komljen/elasticsearch-cron:0.0.6`.
The image you provided for cron is not up to date.

[2019-05-30 12:54] komljen commented on #276
@stevesloka any updates on this?

[2019-05-31 07:02] komljen commented on #163
This is fixed in https://github.com/upmc-enterprises/elasticsearch-operator/pull/308. We should close the issue. cc @stevesloka

[2019-05-31 14:11] #163 closed

[2019-06-04 08:58] komljen opened #311 "Node tolerations should be applied to sysctl daemonset as well"
If daemon set is not running on tainted nodes, ES components will fail when deployed with tolerations, because sysctl isn't applied on those nodes.

[2019-06-04 10:17] ArjonBu commented on #293
How did you actually specify the namespace? I am having trouble figuring that out.

[2019-06-05 10:33] komljen commented on #239
@cfontes Make sure that you are using the latest version of the operator. The helm chart is outdated.
You can just pass `--set image.tag=0.3.0` to above helm install command.

@stevesloka I think we can close this issue, node tolerations are applied in my test cluster.

[2019-06-05 11:05] komljen commented on #311
Probably we should just apply:

[code]

as default, since the operator can deploy multiple clusters which can have different tolerations.

[2019-06-07 23:38] pst commented on #293
By setting the command line parameter. You can download it from the zip from the catalog and check the patch file for an example.

[2019-06-24 14:59] guglez commented on #292
Same issue on a self hosted cluster.

[code]

[2019-07-02 22:14] kfox1111 commented on #276
Free but not open. Its in the basic tier, not the open source tier.

The open distro folks seem to be maintaining images too. maybe those would work?
https://hub.docker.com/r/amazon/opendistro-for-elasticsearch

[2019-07-02 22:53] dimm0 commented on #276
I tried installing the official one, never worked for me... Still using yours

[2019-07-03 06:40] komljen commented on #276
It works with the operator with minor modifications, https://github.com/komljen/opendistro-for-elasticsearch-k8s

I removed the security plugin here.

[2019-07-19 12:37] imriss opened #314 "Is it possible to deploy ES version 6.4?"
Hi,

Is it possible to deploy ES version 6.4?

Thanks

[2019-07-23 13:07] stevesloka commented on #314
Hey @imriss, yup it's possible, we'd have to build out a new image. You can also look at @while1eq1's repo: https://github.com/while1eq1/elasticsearch-kubernetes-searchguard

[2019-07-23 13:07] #314 closed, assigned to nobody

[2019-07-24 13:25] imriss commented on #314
@stevesloka thanks, is there a chance that something similar is added to the operator to have a it out of the box with the operator?

[2019-07-30 17:24] imriss commented on #314
@stevesloka There is an issue with the certificate reported [here](https://github.com/while1eq1/elasticsearch-kubernetes-searchguard/issues/2). I faced the same issue in a fork of https://github.com/stevesloka/elasticsearch-kubernetes-searchguard

Is there any advise? Thanks

[2019-08-22 05:34] pravink opened #317 "pods are in pending state for so long"
**kubectl get pods
NAME                                  READY   STATUS    RESTARTS   AGE
elasticsearch-operator-sysctl-hhdqs   0/1     Pending   0          83m**

I am trying to create the es cluster using below commands
kubectl create ns operator
kubectl create -f example/controller.yaml -n operator
kubectl create -n operator -f example/example-es-cluster.yaml
kubectl get pods

but i get the sta

[2019-08-23 10:00] yugansh20 commented on #266
Is this error fixed?

[2019-08-29 09:32] yugansh20 opened #318 "Operator needs cluster level get pods permission"
Hi

I am deploying operator in k8s cluster which is managed by other team.
They have provided me with a namespace with restricted resources.

When I deploy operator deployment in my namespace, it is trying to get CRDs at cluster level and pods at cluster level.

I have permission to get CRD at cluster level but no permission to get pods at cluster  level as I will be able to see pods from other te

[2019-08-29 10:42] yugansh20 opened #319 "Allowing namespace name input for pods monitoring instead of monitoring all namespaces"
https://github.com/upmc-enterprises/elasticsearch-operator/blob/bffd32d7b4ca16cefc5ef7723ecbce997785cfa1/cmd/operator/main.go#L127

In above line of code, we should be able to pass namespace to monitor instead  of monitoring all namespaces

[2019-09-10 11:47] vakaobr opened #320 "Setup of azure snapshot"
Hello there,

I noticed the `docker-elasticsearch-kubernetes` doens't have the repository-azure plugin installed by default, so I've generated a image with that and replaced my deployment with that.

I'm trying to enable azure snapshots, but still getting a error related to it.

My es cluster deployment file is as follows:

[code]

And when the `create-repository` job runs, I got that on log:

[co

[2019-10-15 13:49] ferozsalam opened #321 "Operator crashes if another elasticsearch cluster exists in the k8s cluster"
Under a configuration that I am currently running, there would ideally be two elasticsearch clusters running - one using the UPMC operator, and one not using it. These two clusters would run under different namespaces.

However, when I attempt to run these two clusters in parallel, the operator crashes with:

[code]
*edited after further investigation*

After some further digging into the issue, i

[2019-11-12 13:28] jwandrews opened #322 "support k8s 1.16"
tl;dr DaemonSet, Deployment, StatefulSet, and ReplicaSet need to be migrated to `apps/v1` API group.

There are a few deprecations/removals in 1.16.x that are directly related to the operator.

See here: https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

[2020-01-30 09:31] #319 closed, assigned to nobody

[2020-07-08 13:41] diegosucaria commented on #322
Was someone able to deploy this in 1.16? I tried replacing the deprecated apis on the operator itself without luck.

[2020-08-24 09:02] TBBle commented on #267
Probably fixed by #303 in 0.4.0

[2020-08-24 09:02] TBBle commented on #292
Probably fixed by #303 in 0.4.0

[2020-08-24 09:02] TBBle commented on #296
Probably fixed by #303 in 0.4.0

[2020-08-24 09:03] TBBle commented on #321
Possibly fixed by #303 in 0.4.0.

[2020-09-28 17:15] jchoi926 opened #324 "Elasticsearch resources not being created in minikube"
Hello,

I've deployed the controller successfully using the template found [here](https://github.com/upmc-enterprises/elasticsearch-operator/blob/master/example/controller.yaml). After the controller came to a running state, I deployed the operator with the template found [here](https://github.com/upmc-enterprises/elasticsearch-operator/blob/master/example/example-es-cluster-minikube.yaml). I can

[2022-06-29 09:28] #321 closed, assigned to nobody